<h3>
	<%= list.name %>
</h3>
<div class="listContainer">
	<% if logged_in? && current_user.id == list.user_id %>
		<div class="listEditContainer">
			<%=link_to({:controller => "lists", :action => "create", :user_id => current_user.id, :list_id => list.id, :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'},) do%>
				<span class="glyphicon glyphicon-pencil"></span> Edit Title
			<% end %>
			<%=link_to({:controller => "lists", :action => "add_product", :user_id => current_user.id, :list_id => list.id, :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'},) do%>
				<span class="glyphicon glyphicon-plus"></span> Add Product
			<% end %>
			<%=link_to({:controller => "lists", :action => "delete", :user_id => current_user.id, :list_id => list.id, class: 'btn btn-primary btn-lg'}, data: { confirm: 'Are you sure you want to delete this list?'}) do%>
				<span class="glyphicon glyphicon-trash"></span> Delete List
			<% end %>
		</div>
	<% end %>
	<div class="listingsContainer">
		<%= render list.listings %>
	</div>

</div>