<% @scheduled_posts.where("post_time >= ? AND post_time < ?",  current_user.user_time_to_utc(day.to_time), current_user.user_time_to_utc( (day + 1.day).to_time) ).each do |post| %>
	<div class="listed_post">
		<div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
			<div>
				<% if post.status == "waiting" %>
					<span class="glyphicon glyphicon-hourglass" data-toggle="tooltip" data-placement="top" data-original-title="Waiting" ></span>
				<% elsif post.status == "posted" %>
					<span class="glyphicon glyphicon-ok"  data-toggle="tooltip" data-placement="top" data-original-title="Post Successful"></span>
				<% else %>
					<span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" data-original-title="Post Failed"></span>
				<% end %>
				<% if post.account %>
					<span id="<%= post.id %>-post-time"><%= current_user.user_time_to_utc(post.post_time).strftime("%l:%M %p") %> (<%= current_user.timezone %>)</span>
				<% else %>
					<span id="<%= post.id %>-post-time"><%= post.post_time %></span>
				<% end %>
			</div>

			<div>
				<% if post.status == "POSTED" %>
					<img src="<%= post.picture_url %>" class= "post-image" />
				<% else %>
					<%= link_to post, remote: :true do %>
						<span class="glyphicon glyphicon-pencil" style="padding: 3px;"></span>
						<img src="<%= post.picture_url %>" class= "post-image" />
					<% end %>
				<% end %>
			</div>

			<div>
				<span class="glyphicon glyphicon-arrow-right" ></span>
				<%= image_tag "#{post.platform}.svg", class: "#{post.platform}-bg", style: "padding: 3px;" %>
				:
				<%= image_tag (post.account.picture rescue image_path('page.svg') ), "data-toggle": "tooltip", "data-placement": "top", "data-original-title": post.account.name rescue "global post" %>
			</div>

			<div>
				<% if post.topic %>
					<span>from '<%= post.topic.name %>'</span>
				<% end %>
				<% if current_user.admin %>
					<% if post.topic %>
					<span> | outgoing: <%= ScheduledPost.where( micropost_id: post.micropost_id, topic_id: post.topic.id ).count %></span>
					<% else %>
						<span class="mini-error">This isn't global</span>
					<% end %>
				<% end %>
			</div>

			<div>
				<%=link_to post, method: :delete, style: "margin-left: 10px; float: right;", "data-confirm": "Are you sure you want to delete this scheduled post?" do %>
					<span class="glyphicon glyphicon-trash" ></span>
				<% end %>
			</div>
		</div>
	</div>
<% end %>

<script>
	show_tooltips();
</script>