<% @scheduled_posts.where("post_time >= ? AND post_time < ?", day, (day + 1.day)).each do |post| %>
	<div class="listed_post">			
		<div>
			<% if post.status == "waiting" %>
				<span class="glyphicon glyphicon-hourglass" data-toggle="tooltip" data-placement="top" data-original-title="Waiting" ></span>
			<% elsif post.status == "posted" %>
				<span class="glyphicon glyphicon-ok"  data-toggle="tooltip" data-placement="top" data-original-title="Post Successful"></span>
			<% else %>
				<span class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="top" data-original-title="Post Failed"></span>
			<% end %>

			<% if post.topic %>
				<span>-<%= post.topic.name %>-</span>
			<% end %>

			<% post_account = post.account %>
			<%= link_to post, remote: :true do %>
				<img src="<%= post.picture_url %>" />
			<% end %>

			<span class="glyphicon glyphicon-arrow-right" ></span>

			<img class="<%= post_account.platform %>-bg" style="padding: 3px;" src="/assets/<%= post_account.platform %>.svg" />
			:
			<img src="<%= post_account.picture %>" data-toggle="tooltip" data-placement="top" data-original-title="<%= post_account.name %>"  />

			<% if current_user.admin %>
				<p>user: <%= post.user.name %></p>
				<% if !post.topic %>
					<p class="mini-error">This isn't global</p>
				<% end %>
			<% end %>

		</div>

		<div>
			<%=link_to post, method: :delete do %>
				<span class="glyphicon glyphicon-trash" ></span>
			<% end %>
		</div>
	</div>
<% end %>

<script>
	show_tooltips();
</script>