<%= form_for @scheduled_post, remote: :true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :caption, "Post caption:" %>
  <%= f.text_area :caption, placeholder: @scheduled_post.caption, maxlength: 400 %>
  <div style="text-align: center;">
    <%= f.submit "update caption", class: "btn-submit" %>
    <% if @status %>
      <p><%= @status %></p>
    <% end %>
  </div>
<% end %>