<div class="modal-header">
  <h4 class="modal-title">Scheduled for <%= @scheduled_post.post_time.to_date.strftime("%B %-d") %></h4>
</div>
<div class="modal-body">
	<div class="scheduled_post_content">
		<div class="account" >to be posted to: 
			<div>
				<img src="<%= scheduled_post.account.picture rescue nil %>" /><%= scheduled_post.account.name rescue "GLOBAL" %>
			</div>
		</div>
		<img class="main-image" src="<%= @scheduled_post.picture_url %>"/>
		<div id="post-caption-container" >
			<%= render "form" %>
		</div>
	</div>
</div>
<div class="modal-footer" style="text-align: right;">
  <button class="btn-large btn-modal" data-dismiss="modal">close</button>
</div>