<% provide(:title, "Contact") %>

<div class="container">
	<div style="max-width: 500px;" >
		<h1>contact us</h1>

		<%= form_for @contact, url: contacted_path, method: :post, html: {} do |f| %>

		  <%= render 'shared/error_messages', object: f.object %>

		  <%= f.label(:email, "Your Email:") %>
		  <%= f.text_field(:email, :maxlength => 255)  %>
		  <%= f.label(:subject, "Subject:") %>
		  <%= f.text_field(:subject, :maxlength => 255) %>
		  <%= f.label(:message, "Message:") %>
		  <%= f.text_area(:message, :maxlength => 1000)  %>
		  <%= f.submit("Send", class: 'btn-submit') %>
		<% end %>
	</div>
</div>