<% provide(:title, "Contact") %>
<h1>Promo Posts - Contact</h1>


<%= form_for @contact, url: contacted_path, method: :post, html: {} do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label(:email, "Your Email:") %>
  <%= f.text_field(:email, :maxlength => 255)  %>
  <%= f.label(:subject, "Subject:") %>
  <%= f.text_field(:subject, :maxlength => 255) %>
  <%= f.label(:message, "Message:") %>
  <%= f.text_area(:message, :maxlength => 1000)  %>
  <%= f.submit("Send", class: 'pop-button') %>
<% end %>