<% if !logged_in? %>
	<div class="splash" style="background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(<%= image_path('splash-home.jpg') %>); background-size: cover;">
		<div>
		  <h1>Automated social media for promotional products</h1>
		  <hr>
		</div>
		<a href="<%= how_does_it_work_path %>" class="btn-hero">Learn More</a>
	</div>
<% end %>

<div class="container">
	<div class="row" >
		<div class="col-sm-12 col-md-3 action_buttons_container">

			<% if logged_in? %>
				<%= render partial: "shared/action_button", locals: { text: "submit post", glyphicon: "pencil", goto: microposts_new_path } %>
				<%= render partial: "shared/action_button", locals: { text: "submit campaign", glyphicon: "flag", goto: new_campaign_path } %>
			<% else %>
				<p><%= link_to 'Sign up', signup_path %> or <%= link_to 'log in', login_path %> to join the community.</p>
			<% end %>
		</div>

		<div class="col-sm-12 col-md-9">
			<div class="post-filter">
				<%= form_tag root_path, :method => 'get' do %>
					<%= render partial: "/shared/post_category_select", locals: {
						prompt: "Get digital assets by category...",
						include_all: true,
						input_name: 'feed',
						submits: true
					} %>
				<% end %>

				<!--search-->
				<div class="searchBar">
					<%= form_tag root_path, :method => 'get' do %>
					  <%= text_field_tag :search, params[:search], :placeholder => 'search posts' %>
					  <%= hidden_field_tag :feed , "search" %>
					  <%= button_tag(type: "submit", :name => nil) do %>
					    <span class="glyphicon glyphicon-search" ></span>
					  <% end %>
					<% end %>
				</div>

			</div>

		</div>

	</div>

	<hr>

	<%= render 'shared/feed' %>
</div>