<% if !logged_in? %>
	<div class="center jumbotron">
	  <h1>See it, share it.</h1>

	  <h2>
	    Promotional products content shared in seconds
	  </h2>

	  <%= link_to "sign up", signup_path, class: "btn btn-lg btn-primary" %>
	  <%= link_to "log in", login_path, class: "btn btn-lg btn-primary" %>
	</div>
<% end %>

<h1>Share a post</h1>

<!--form to create post-->
<% if logged_in? %>
  <div class="row">
    <div class="post_block col-md-4">
        <%= render 'shared/user_info_condensed' %>
    </div>
    <div class="post_block col-md-4">
    	<%= render 'shared/micropost_form' %>
    </div>

  </div>
<% end %>

<!--feed-->
<div class="feed row">
	<div class="col-md-12">
	  <% if logged_in? %>
		  <%= link_to(user_feed_path, remote: true) do %>
		  	<h3 id="userFeed" class="tab tab-active">Your Feed</h3>
		  <% end %>
	  <% end %>
	  <%= link_to(global_feed_path, remote: true) do %>
	  	<h3 id="globalFeed" class="tab <% if !logged_in? %>tab-active<% end %>">Global Feed</h3>
	  <% end %>
	  <%= render 'shared/feed' %>
	</div>
</div>
