<% if !logged_in? %>
	<div class="center jumbotron">
	  <h1>See it, share it.</h1>

	  <h2>
	    Promotional products content shared in seconds
	  </h2>

	  <%= link_to "sign up", signup_path, class: "btn btn-lg btn-primary" %>
	  <%= link_to "log in", login_path, class: "btn btn-lg btn-primary" %>
	</div>
<% end %>

<!--link to create post-->
<% if logged_in? %>
  <div class="row">
	<%= link_to(microposts_new_path) do%>
		<h3 class = "top_icons">create post</h3>
	<% end %>
  </div>
<% end %>

<% if logged_in? %>
	<%= link_to root_path( :feed => "user") do%>
		<h5 id="userFeed" class="tab <%= 'tab-active' if @feed_type == 'user' %>">Your Feed</h5>
	<% end %>
<% end %>
<%= link_to root_path( :feed => "global") do%>
	<h5 id="globalFeed" class="tab <%= 'tab-active' if @feed_type == 'global' %>">Global Feed</h5>
<% end %>
<%= link_to root_path( :feed => "vendor") do%>
	<h5 id="vendorFeed" class="tab <%= 'tab-active' if @feed_type == 'vendor' %>">Vendor Feed</h5>
<% end %>

<!--feed-->
<div class="feed row">
	<div id="feedContainer" class="col-md-12">
		<%= render 'shared/feed' %>
		<div id="end" class="hide">
	  	  <hr><h3>end</h3>
	  	</div>
	</div>

</div>