<div class="row" >

	<!-- sidebar -->
	<div class="col-sm-12 col-md-3 sidebar">
		<% if logged_in? %>
			<%= link_to microposts_new_path, :class => "side_button" do%>
				<div class="pop-button">
					<span class="glyphicon glyphicon-pencil"></span>
					<h3 class = "top_icons">create post</h3>
				</div>
			<% end %>
			<%= link_to new_campaign_path, :class => "side_button" do%>
				<div class="pop-button">
					<span class="glyphicon glyphicon-flag"></span>
					<h3 class = "top_icons">create campaign</h3>
				</div>
			<% end %>
		<% else %>
			<p><%= link_to 'Sign in', social_login_path %> to join the community.</p>
		<% end %>
	</div>

	<div class="col-sm-12 col-md-9">
		<div class="feed row">
			<div class="col-md-12">
				<div class="feed_buttons">
					<% if logged_in? %>
						<%= link_to root_path( :feed => "user") do%>
							<h5 id="userFeed" class="tab <%= 'tab-active' if @feed_type == 'user' %>">Your Feed</h5>
						<% end %>
					<% end %>
					<%= link_to root_path( :feed => "global") do%>
						<h5 id="globalFeed" class="tab <%= 'tab-active' if @feed_type == 'global' %>">Global Feed</h5>
					<% end %>
				</div>

				<div style="margin-top: 5px;">
					<% digital_assets_array = Micropost.category_array.unshift(['Campaign', 'campaign']) %>
					<% digital_assets_array = digital_assets_array.unshift(['All Digital Assets', 'digital_assets']) %>

					<%= form_tag root_path, :method => 'get' do %>
						<span>Get digital assets by category:</span>
						<%= select_tag "feed", options_for_select(digital_assets_array), onchange: 'this.form.submit();', :prompt => "Choose a category", :style => "margin-bottom: 5px;" %>
					<% end %>
				</div>

				<!--search-->
				<div class="searchBar">
					<%= form_tag root_path, :method => 'get', id: 'searchPosts' do %>
					  <%= text_field_tag :search, params[:search], :placeholder => 'search posts' %>
					  <%= hidden_field_tag :feed , "search" %>
					  <%= button_tag(type: "submit", :name => nil,class: "search-btn") do %>
					    <span class="glyphicon glyphicon-search" ></span>
					  <% end %>
					<% end %>
				</div>

			</div>
		</div>

	</div>

</div>

<div id="feedContainer">
	<% if @feed_type == "user" %>
		<h1 style="text-align: left;">Your Feed</h1>
	<% elsif @feed_type == "global" %>
		<h1 style="text-align: left;">Global Activity</h1>
	<% else %>
		<h1 style="text-align: left;"><%= @feed_type.titlecase.tr("_", " ") %><%= 's' unless (@feed_type == "digital_assets" || @feed_type = "search") %></h1>
	<% end %>

	<%= render 'shared/feed' %>
	
	<div id="end" class="hide">
  	  <hr><h3>end</h3>
  	</div>
</div>