<!--modal-->
	<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content"></div>
	  </div>
	</div>

<% if !logged_in? %>
	<div class="center jumbotron">
	  <h1>news. content. ideas.</h1>

	  <h2>
	    the digital community for promotional products
	  </h2>
	  <div style="text-align: center;">
	  	<%= link_to "log in / sign up", social_login_path, class: "pop-button pop-button-big" %>
	  </div>
	</div>
<% end %>

<!--search-->
<div class="searchBar">
	<%= form_tag root_path, :method => 'get', id: 'searchPosts' do %>
	  <%= text_field_tag :search, params[:search], :placeholder => 'search posts' %>
	  <%= hidden_field_tag :feed , "search" %>
	  <%= button_tag(type: "submit", :name => nil,class: "search-btn") do %>
	    <span class="glyphicon glyphicon-search" ></span>
	  <% end %>
	<% end %>
</div>

<!--feeds-->
<div id="feeds" class="mobile-hide" style="display:inline-block;">
	<% if logged_in? %>
		<%= link_to root_path( :feed => "user") do%>
			<h5 id="userFeed" class="tab <%= 'tab-active' if @feed_type == 'user' %>">Your Feed</h5>
		<% end %>
	<% end %>
	<%= link_to root_path( :feed => "global") do%>
		<h5 id="globalFeed" class="tab <%= 'tab-active' if @feed_type == 'global' %>">Global Feed</h5>
	<% end %>
	<%= link_to root_path( :feed => "vendor") do%>
		<h5 id="vendorFeed" class="tab <%= 'tab-active' if @feed_type == 'vendor' %>">Vendor Feed</h5>
	<% end %>
	<%= link_to root_path( :feed => "questions") do%>
		<h5 id="questionsFeed" class="tab <%= 'tab-active' if @feed_type == 'questions' %>">Questions</h5>
	<% end %>
	<%= link_to root_path( :feed => "careers") do%>
		<h5 id="careersFeed" class="tab <%= 'tab-active' if @feed_type == 'careers' %>">Careers</h5>
	<% end %>
</div>

<div id="feed-select" class="mobile-show">
	<span id="select-title">Current Feed:</span>
	<select class="mobile-show" >
	  <option value="/?feed=user" <%= 'selected' if @feed_type == 'user' %> >Your Feed</option>
	  <option value="/?feed=global" <%= 'selected' if @feed_type == 'global' %> >Global Feed</option>
	  <option value="/?feed=vendor" <%= 'selected' if @feed_type == 'vendor' %> >Vendor Feed</option>
	  <option value="/?feed=questions" <%= 'selected' if @feed_type == 'questions' %> >Questions</option>
	  <option value="/?feed=careers" <%= 'selected' if @feed_type == 'careers' %> >Careers</option>
	</select>
</div>

<!--link to create post-->
<% if logged_in? %>
  
	<%= link_to microposts_new_path, :id => "createPostBtn" do%>
		<div class="createPost pop-button">
			<span class="glyphicon glyphicon-pencil"></span>
			<h3 class = "top_icons">create post</h3>
		</div>
	<% end %>
<% end %>

<!--grid views-->
<div id="grid-views">
	<%= link_to({:controller => "static_pages", :action => "change_grid_view", :remote => true, :columns => "2"}) do%>
		<img id="grid-view-icon-2" class="grid-view-icon-active <%= @columns == '2'? '':'hide' %>" src="/assets/grid-active-2.svg"/>
	<% end %>
	<%= link_to({:controller => "static_pages", :action => "change_grid_view", :remote => true, :columns => "2"}) do%>
		<img id="grid-view-icon-2-dark" class="grid-view-icon <%= @columns == '2'? 'hide':'' %>" src="/assets/grid-dark-2.svg"/>
	<% end %>
	<%= link_to({:controller => "static_pages", :action => "change_grid_view", :remote => true, :columns => "3"}) do%>
		<img id="grid-view-icon-3" class="grid-view-icon-active <%= @columns == '3'? '':'hide' %>" src="/assets/grid-active-3.svg"/>
	<% end %>
	<%= link_to({:controller => "static_pages", :action => "change_grid_view", :remote => true, :columns => "3"}) do%>
		<img id="grid-view-icon-3-dark" class="grid-view-icon <%= @columns == '3'? 'hide':'' %>" src="/assets/grid-dark-3.svg"/>
	<% end %>
	<%= link_to({:controller => "static_pages", :action => "change_grid_view", :remote => true, :columns => "4"}) do%>
		<img id="grid-view-icon-4" class="grid-view-icon-active <%= @columns == '4'? '':'hide' %>" src="/assets/grid-active-4.svg"/>
	<% end %>
	<%= link_to({:controller => "static_pages", :action => "change_grid_view", :remote => true, :columns => "4"}) do%>
		<img id="grid-view-icon-4-dark" class="grid-view-icon <%= @columns == '4'? 'hide':'' %>" src="/assets/grid-dark-4.svg"/>
	<% end %>
</div>

<!--feed-->
<div class="feed row">
	<div id="feedContainer" class="col-md-12">
		<%= render 'shared/feed' %>
		<div id="end" class="hide">
	  	  <hr><h3>end</h3>
	  	</div>
	</div>
</div>

<script>
	$(function(){
      $('#feed-select').bind('change', function () {
         var url = $(this).val()
          if (url) {
              window.location.replace(url);
          }
          return false;
      });
    });
</script>