<h2 style="padding: 15px 25px;">Populate your social media, for free.</h2>

<div class="row info-section" style="background-color: #54799b;">
	<div class="col col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-1 col-md-4 col-md-push-6">
		<%= image_tag('example posts.png') %>
	</div>
	<div class="col col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-pull-6" >
		<div>
			<h4 class="title" style="color: #f6f6f6;"><strong>We supply and schedule promotional products content</strong></h4>
			<p style="color: #f6f6f6;" >Delegate your social media to our automated post scheduler. The images, sizing, captions, hashtags, and timing are handled by the Promo Posts system. Of course, you are free to make changes to your personal calendar such as the captions, or when a certain post goes out.</p>
		</div>
	</div>
</div>

<div class="row info-section" style="background-color: #ceddea;">
	<div class="col col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-1 col-md-4">
		<%= image_tag("https://storage.googleapis.com/promoposts/web_assets/overlay.gif") %>
	</div>
	<div class="col col-xs-12 col-sm-8 col-sm-offset-2 col-md-4" >
		<div>
			<h4 class="title" style="color: #2d4059;"><strong>It's for you</strong></h4>
			<p style="color: #2d4059;" >Automatically overlay your logo on top of the images. Choose topics most relevant to your business, and we'll post about it.</p>
		</div>
	</div>
</div>

<div class="row info-section" style="background-color: #dae5f7;">
	<div class="col col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-1 col-md-4 col-md-push-6">
		<%= image_tag('landing page.png') %>
	</div>
	<div class="col col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-pull-6" >
		<div>
			<h4 class="title" style="color: #2d4059;"><strong>From your social media to your inbox</strong></h4>
			<p style="color: #2d4059;">Make it easy for your clients to contact you. Our social media posts link to your personalized landing page with information relevant to the campaign. Messages submitted on your landing page go straight to your email.</p>
		</div>
	</div>
</div>

<div class="row info-section" style="background-color: #d7ebf2;">
	<div class="col col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-1 col-md-4">
		<%= image_tag('banner and cover photo.png') %>
	</div>
	<div class="col col-xs-12 col-sm-8 col-sm-offset-2 col-md-4" >
		<div>
			<h4 class="title" style="color: #2d4059;"><strong>Level up your digital presence with our content gallery</strong></h4>
			<p style="color: #2d4059;">Explore different types of assets including cover photos, email banners, and memes in our digital gallery. Download campaigns with multiple assets to keep your online voice consistent.</p>
		</div>
	</div>
</div>

<div class="container">
	<h4>Upcoming posts (scroll <span class="glyphicon glyphicon-arrow-right"></span>)</h4>
	<div class="slider" style="height: 350px;">
		<% scheduled_posts = User.first.scheduled_posts.where("scheduled_posts.post_time >= ? AND scheduled_posts.post_time < ?", Time.now.getutc, (Time.now.getutc + 13.days).to_time)%>
		<% scheduled_posts.each do |post| %>
			<div class="slider-block slider-block-captioned">		
				<div>
					<strong><%= post.post_time.strftime("%B %-d") %></strong>
					<br>
					<%= post.micropost.category.titlecase.tr("_", " ") %>
				</div>	
				<img src="<%= post.picture_url %>" style="height: auto; width: auto; max-width: 100%; max-height: 300px;" />
				<div class="caption">
					<strong>caption:</strong><br>
					<%= post.caption %>
				</div>
			</div>
		<% end %>
	</div>
</div>

<div style="text-align: center; margin-top: 15px;">
	<%= button_to "Get Started", signup_path, method: :get, class: "btn-submit" %>
</div>

<!--

hands off approach
captions, content, images, themes/seasons

It's for you
topics - We'll post about the topics you choose.
default logo overlays

Landing pages

Content Gallery
All types of content including cover photos, email banners, instagram stories



$yellow0: #f4af0c;
$yellow1: #ffb400;
$yellow2: #ffc95c;
$yellow3: #ffe4ae;
$yellow4: #f9eed7;
$blue1: #2d4059;
$blue2: #3d5875;
$blue3: #54799b;
$blue4: #97c2dd;
$blue5: #ceddea;
$blue6: #dae5f7;
$grey1: #283642;
$grey2: #48565e;
$grey3: #9aa9b7;
$grey4: #d7dde2;
$grey5: #f6f6f6;
$grey6: #ffffff;
$teal1: #053b4c;
$teal2: #1a5d72;
$teal3: #437f97;
$teal4: #66b4cc;
$teal5: #a1d6e2;
$teal6: #d7ebf2;
$red1: #6b262c;
$red2: #b72e35;
$red3: #ea5455;
$red4: #ef9297;





	-->