<style>
	.p1{
		font-size: 2em;
	}
	.p3{
		font-size: 1.3em;
	}
</style>
<p class="p1"><span class="s1"><strong>Terms of Use</strong></span></p>
<p class="p3"><span class="s1"><strong>Introduction</strong></span></p>
<p class="p4"><span class="s1">You agree that by accessing or using our services,&nbsp;you are agreeing to enter into a legally binding contract&nbsp;with Promo Posts (even if you are using our Services on behalf of a company). If you do not agree to this contract (&ldquo;Contract&rdquo; or &ldquo;Terms of Use&rdquo;), do not access or otherwise use any of our Services. If you wish to terminate this contract, at any time you can do so by closing your account and no longer accessing or using our Services. Registered users of our Services are &ldquo;Members&rdquo; and unregistered users are &ldquo;Visitors&rdquo;. This contract applies to all users including Members and Visitors.</span></p>
<p class="p4"><span class="s1">You are entering into this Contract with Promo Posts. As a Visitor or Member of our Services, the collection, use, and sharing of your personal data is subject to our <%= link_to "Privacy Policy", privacy_policy_path %>, <%= link_to "Cookie Policy", cookie_policy_path %>, updates made in the future.</span></p>
<p class="p4"><span class="s1">We may modify this Contract, our <%= link_to "Privacy Policy", privacy_policy_path %> and our <%= link_to "Cookie Policy", cookie_policy_path %> from time to time. If we make material changes to it, we will provide you notice through our Services, or by other means, to provide you the opportunity to review the changes before they become effective. We agree that changes cannot be retroactive. If you object to any changes, you may&nbsp;close your account. Your continued use of our Services after we publish or send a notice about our changes to these terms means that you are consenting to the updated terms.</span></p>
<p class="p3"><span class="s1"><strong>Obligations</strong></span></p>
<p class="p4"><span class="s1">Service Eligibility</span></p>
<p class="p4"><span class="s1">The Services require that users are older than the &ldquo;Minimum Age&rdquo; of 16. However, if law requires that you must be older in order for Promo Posts to lawfully provide the Services to you without parental consent (including the use of your personal data) then the Minimum Age is such older age.</span></p>
<p class="p4"><span class="s1">To use the Services, you agree that:</span></p>
<ol class="ol1">
<li class="li4"><span class="s1">You must be the &ldquo;Minimum Age&rdquo; or older; </span></li>
<li class="li4"><span class="s1">You are not already restricted by Promo Posts from using the Services. Creating an account with false information is a violation of our terms, including accounts registered on behalf of others or persons under the age of 16.</span></li>
</ol>
<p class="p3"><span class="s1"><strong>Your Account</strong></span></p>
<p class="p4"><span class="s1">Members are account holders. You agree to: </span></p>
<ol class="ol1">
<li class="li4"><span class="s1">Try to choose a strong and secure password if you choose to login with email;</span></li>
<li class="li4"><span class="s1">If you have a password, keep it secure and confidential;</span></li>
<li class="li4"><span class="s1">Follow the law and our list of Community Practices. You are responsible for anything that happens through your account unless you close it or report misuse.</span></li>
</ol>
<p class="p4"><span class="s1">Our Services allow sharing of information and content. Information and content that you share or post may be seen by other all other users of the site, including Members and Visitors. We are not obligated to publish any information or content on our Service and can remove it in our sole discretion, with or without notice.</span></p>
<p class="p3"><span class="s1"><strong>Rights and Limits</strong></span></p>
<p class="p5"><span class="s1"><strong>Your License to Promo Posts</strong></span></p>
<p class="p4"><span class="s1">As between you and Promo Posts, you own the content and information that you submit or post to the Services, and you are only granting Promo Post and our&nbsp;affiliates&nbsp;the following non-exclusive license:</span></p>
<p class="p4"><span class="s1">A worldwide, transferable and sub licensable right to use, copy, modify, distribute, publish, and process, information and content that you provide through our Services and the services of others, without any further consent, notice and/or compensation to you or others. These rights are limited in the following ways:</span></p>
<ol class="ol1">
<li class="li4"><span class="s1">You can end this license for specific content by deleting such content from the Services, or generally by closing your account, except (a) to the extent you shared it with others as part of the Service and they copied, re-shared it or stored it and (b) for the reasonable time it takes to remove from backup and other systems.</span></li>
<li class="li4"><span class="s1">We will not include your content in advertisements for the products and services of third parties to others without your separate consent (including sponsored content). However, we have the right, without payment to you or others, to serve ads near your content and information, and your&nbsp;social actions<br />&nbsp;may be visible and included with ads, as noted in the <%= link_to "Privacy Policy", privacy_policy_path %>.</span></li>
<li class="li4"><span class="s1">We will get your consent if we want to give others the right to publish your content beyond the Services. However, if you choose to share your post as "public<br />", we will enable a feature that allows other Members to embed that public post onto third-party services, and we enable search engines to make that public content findable though their services.</span></li>
<li class="li4"><span class="s1">While we may edit and make format changes to your content (such as translating it, modifying the size, layout or file type or removing metadata), we will not modify the meaning of your expression.</span></li>
<li class="li4"><span class="s1">Because you own your content and information and we only have non-exclusive rights to it, you may choose to make it available to others, including under the terms of a&nbsp;<a href="https://creativecommons.org/choose/"><span class="s2">Creative Commons license</span></a>.</span></li>
<li class="li4"><span class="s1">Although you own the content, by sharing your novel content to Promo Posts you understand that other members of the site may share your content to third party sites through our Services. They are not obligated to credit you.</span></li>
</ol>
<p class="p4"><span class="s1">You and Promo Posts agree that we may access, store, process and use any information and personal data that you provide in accordance with the terms of the <%= link_to "Privacy Policy", privacy_policy_path %>.</span></p>
<p class="p4"><span class="s1">By submitting suggestions or other feedback regarding our Services to Promo Posts, you agree that Promo Posts can use and share (but does not have to) such feedback for any purpose without compensation to you.</span></p>
<p class="p4"><span class="s1">You agree to only provide content or information that does not violate the law nor anyone&rsquo;s rights (including intellectual property rights). You also agree that your profile information will be truthful. Promo Posts may be required by law to remove certain information or content in certain countries.</span></p>
<p class="p5"><span class="s1"><strong>Service Availability</strong></span></p>
<p class="p4"><span class="s1">We may change or discontinue any of our Services. We don&rsquo;t promise to store or keep showing any information and content that you&rsquo;ve posted.</span></p>
<p class="p4"><span class="s1">Promo Posts is not a storage service. You agree that we have no obligation to store, maintain or provide you a copy of any content or information that you or others provide, except to the extent required by applicable law and as noted in our <%= link_to "Privacy Policy", privacy_policy_path %>.</span></p>
<p class="p5"><span class="s1"><strong>Other Content, Sites and Apps</strong></span></p>
<p class="p4"><span class="s1">By using the Services, you may encounter content or information that might be inaccurate, incomplete, delayed, misleading, illegal, offensive or otherwise harmful. Promo Posts generally does not review content provided by our Members or others. You agree that we are not responsible for others&rsquo; (including other Members&rsquo;) content or information. We cannot always prevent this misuse of our Services, and you agree that we are not responsible for any such misuse.</span></p>
<p class="p3"><span class="s1"><strong>Limits</strong></span></p>
<p class="p4"><span class="s1">Promo Posts reserve the right to limit, restrict, suspend, or terminate your account if we believe that you may be in breach of this Contract or law or are misusing the Services (e.g., violating any of the Community Practices).</span></p>
<p class="p5"><span class="s1"><strong>Intellectual Property Rights</strong></span></p>
<p class="p4"><span class="s1">Promo Posts reserves all of its intellectual property rights in the Services. Using the Services does not give you any ownership in our Services or the content or information made available through our Services. Trademarks and logos used in connection with the Services are the trademarks of their respective owners. Promo Posts trademarks, service marks, graphics, and logos used for our Services are trademarks or registered trademarks of Promo Posts.</span></p>
<p class="p3"><span class="s1"><strong>Disclaimer and Limit of Liability</strong></span></p>
<p class="p5"><span class="s1"><strong>No Warranty</strong></span></p>
<p class="p4"><span class="s1">TO THE EXTENT ALLOWED UNDER LAW, PROMO POSTS AND ITS AFFILIATES (AND THOSE THAT PROMO POSTS WORKS WITH TO PROVIDE THE SERVICES)</span></p>
<ol class="ol2">
<li class="li4"><span class="s1">DISCLAIM ALL IMPLIED WARRANTIES AND REPRESENTATIONS (E.G. WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, ACCURACY OF DATA, AND NONINFRINGEMENT);</span></li>
<li class="li4"><span class="s1">DO NOT GUARANTEE THAT THE SERVICES WILL FUNCTION WITHOUT INTERRUPTION OR ERRORS, AND (C) PROVIDE THE SERVICE (INCLUDING CONTENT AND INFORMATION) ON AN &ldquo;AS IS&rdquo; AND &ldquo;AS AVAILABLE&rdquo; BASIS.</span></li>
</ol>
<p class="p4"><span class="s1">SOME LAWS DO NOT ALLOW CERTAIN DISCLAIMERS, SO SOME OR ALL OF THESE DISCLAIMERS MAY NOT APPLY TO YOU.</span></p>
<p class="p5"><span class="s1"><strong>Exclusion of Liability</strong></span></p>
<p class="p4"><span class="s1">TO THE EXTENT PERMITTED UNDER LAW (AND UNLESS PROMO POSTS HAS ENTERED INTO A SEPARATE WRITTEN AGREEMENT THAT OVERRIDES THIS CONTRACT), PROMO POSTS AND ITS AFFILIATES (AND THOSE THAT PROMO POSTS WORKS WITH TO PROVIDE THE SERVICES) SHALL NOT BE LIABLE TO YOU OR OTHERS FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, OR ANY LOSS OF DATA, OPPORTUNITIES, REPUTATION, PROFITS OR REVENUES, RELATED TO THE SERVICES (E.G. OFFENSIVE OR DEFAMATORY STATEMENTS, DOWN TIME OR LOSS, USE OF, OR CHANGES TO, YOUR INFORMATION OR CONTENT).</span></p>
<p class="p4"><span class="s1">IN NO EVENT SHALL THE LIABILITY OF PROMO POSTS AND ITS AFFILIATES (AND THOSE THAT PROMO POSTS WORKS WITH TO PROVIDE THE SERVICES) EXCEED, IN THE AGGREGATE FOR ALL CLAIMS, 1000 CANADIAN DOLLARS.</span></p>
<p class="p4"><span class="s1">THIS LIMITATION OF LIABILITY IS PART OF THE BASIS OF THE BARGAIN BETWEEN YOU AND PROMO POSTS AND SHALL APPLY TO ALL CLAIMS OF LIABILITY (E.G. WARRANTY, TORT, NEGLIGENCE, CONTRACT, LAW) AND EVEN IF PROMO POSTS OR ITS AFFILIATES HAS BEEN TOLD OF THE POSSIBILITY OF ANY SUCH DAMAGE, AND EVEN IF THESE REMEDIES FAIL THEIR ESSENTIAL PURPOSE.</span></p>
<p class="p4"><span class="s1">SOME LAWS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY, SO THESE LIMITS MAY NOT APPLY TO YOU.</span></p>
<p class="p5"><span class="s1"><strong>Termination</strong></span></p>
<p class="p4"><span class="s1">Both you and Promo Posts may terminate this Contract at any time with notice to the other. On termination, you lose the right to access or use the Services. The following shall survive termination:</span></p>
<ul class="ul1">
<li class="li4"><span class="s1">Our rights to use and disclose your feedback;</span></li>
<li class="li4"><span class="s1">Members and/or Visitors&rsquo; rights to further re-share content and information you shared through the Service to the extent copied or re-shared prior to termination;</span></li>
<li class="li4"><span class="s1">Any amounts owed by either party prior to termination remain owed after termination.</span></li>
</ul>
<p class="p3"><span class="s1"><strong>Governing Law and Dispute Resolution</strong></span></p>
<p class="p4"><span class="s1">You and Promo Posts agree that the laws of British Columbia, Canada, shall exclusively govern any dispute relating to this Contract and/or the Services. You and Promo Posts both agree that all claims and disputes can be litigated only in the federal or provincial courts in British Columbia, Canada, and you and Promo Posts each agree to personal jurisdiction in those courts.</span></p>
<p class="p3"><span class="s1"><strong>General Terms</strong></span></p>
<p class="p4"><span class="s1">If a court with authority over this Contract finds any part of it unenforceable, you and we agree that the court should modify the terms to make that part enforceable while still achieving its intent. If the court cannot do that, you and we agree to ask the court to remove that unenforceable part and still enforce the rest of this Contract.</span></p>
<p class="p4"><span class="s1">To the extent allowed by law, the English language version of this Contract is binding and other translations are for convenience only. This Contract (including additional terms that may be provided by us when you engage with a feature of the Services) is the only agreement between us regarding the Services and supersedes all prior agreements for the Services.</span></p>
<p class="p4"><span class="s1">If we don't act to enforce a breach of this Contract, that does not mean that Promo Posts has waived its right to enforce this Contract. You may not assign or transfer this Contract (or your membership or use of Services) to anyone without our consent. However, you agree that Promo Posts may assign this Contract to its affiliates or a party that buys it without your consent. There are no third-party beneficiaries to this Contract.</span></p>
<p class="p4"><span class="s1">You agree that the only way to provide us legal notice is at the addresses provided in the last section of this document.</span></p>
<p class="p3"><span class="s1"><strong>Community Practices</strong></span></p>
<p class="p5"><span class="s1"><strong>You agree that you will:</strong></span></p>
<ul class="ul1">
<li class="li4"><span class="s1">Comply with all applicable laws, including, without limitation, privacy laws, intellectual property laws, anti-spam laws, export control laws, tax laws, and regulatory requirements;</span></li>
<li class="li4"><span class="s1">Provide accurate information to us and keep it updated;</span></li>
<li class="li4"><span class="s1">Use your or your company&rsquo;s real name on your profile; and</span></li>
<li class="li4"><span class="s1">Use the Services in a professional manner.</span></li>
</ul>
<p class="p5"><span class="s1"><strong>You agree that you will NOT:</strong></span></p>
<ul class="ul1">
<li class="li4"><span class="s1">Create a false identity on Promo Posts, misrepresent your identity, create a Member profile for anyone other than yourself (a real person) or your company (a real company), or use or attempt to use another&rsquo;s account;</span></li>
<li class="li4"><span class="s1">Develop, support or use software, devices, scripts, robots, or any other means or processes (including crawlers, browser plugins and add-ons, or any other technology) to scrape the Services or otherwise copy profiles and other data from the Services;</span></li>
<li class="li4"><span class="s1">Override any security feature or bypass or circumvent any access controls or use limits of the Service;</span></li>
<li class="li4"><span class="s1">Disclose information that you do not have the consent to disclose (such as confidential information of others (including your employer));</span></li>
<li class="li4"><span class="s1">Post anything that contains software viruses, worms, or any other harmful code;</span></li>
<li class="li4"><span class="s1">Reverse engineer, decompile, disassemble, decipher or otherwise attempt to derive the source code for the Services or any related technology that is not open source;</span></li>
<li class="li4"><span class="s1">Imply or state that you are affiliated with or endorsed by Promo Posts without our express consent (e.g., representing yourself as a Promo Posts employee);</span></li>
<li class="li4"><span class="s1">Deep-link to our Services for any purpose other than to promote your profile or a Group on our Services, without the consent of Promo Posts.</span></li>
<li class="li4"><span class="s1">Use bots or other automated methods to access the Services, add or download contacts, send or redirect messages;</span></li>
<li class="li4"><span class="s1">Monitor the Services&rsquo; availability, performance or functionality for any competitive purpose;</span></li>
<li class="li4"><span class="s1">Engage in &ldquo;framing,&rdquo; &ldquo;mirroring,&rdquo; or otherwise simulating the appearance or function of the Services;</span></li>
<li class="li4"><span class="s1">Overlay or otherwise modify the Services or their appearance (such as by inserting elements into the Services or removing, covering, or obscuring an advertisement included on the Services);</span></li>
<li class="li4"><span class="s1">Interfere with the operation of, or place an unreasonable load on, the Services (e.g., spam, denial of service attack, viruses, gaming algorithms); and/or</span></li>
<li class="li4"><span class="s1">Violate the&nbsp;Professional Community Policies&nbsp;or any additional terms concerning a specific Service that are provided when you sign up for or start using such Service.</span></li>
</ul>
<p class="p6">&nbsp;</p>
<p class="p3"><span class="s1"><strong>How To Contact Us</strong></span></p>
<p class="p4"><span class="s1">If you want to send us notices or service of process, please <%= link_to "contact us", contact_path %> online.</span></p>