<div class="comment" id="comment-<%= comment.id %>" style="<%= comment.head ? 'padding-left: 25px;' : 'border: none;' %> margin-top: 10px;">
  <% default_avatar_url = '/assets/dead-avatar.png' %>
  <div class="avatar avatar-mini" style="background-image: url('<%= comment.user ? comment.user.avatar : default_avatar_url %>');"></div>
  <div style="display: inline-block;">
    <span class="user" style="font-size: 1.2em;">
      <% if comment.user %>
        <%= link_to comment.user.name, comment.user %>
      <%else%>
        [deleted user]
      <% end %>
    </span>
    <div style="display: inline-block; text-align: left;">
      <%= render :partial => 'shared/accolades', :locals => {:user => comment.user } %>
    </div>
    <div class="timestamp">
      Posted <%= time_ago_in_words(comment.created_at) %> ago.
      <% if current_user %>
        <span style="font-size: 0.8em;">
        <%= link_to "reply", { :controller => :comments, :action => :reply, :remote => true, :head => comment, :micropost => comment.micropost} %>
        <% if current_user?(comment.user) || current_user.admin? %>
          <%= link_to "delete", comment, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
        <% if current_user?(comment.micropost.user) && comment.micropost.category == "question" %>
          <%= link_to "mark as top comment", mark_top_comment_path(:micropost_id => comment.micropost_id, :comment_id => comment.id) %>
        <% end %>
      </span>
      <% end %>
    </div>
  </div>
  <div id="comment-content-<%= comment.id %>" style="background-color: white; padding: 0px 5px;">
    <div id="score-<%= comment.id %>" class="score" style="display: inline-block; width: 30px;">
      <% if logged_in? %>
        <%= render :partial => 'comments/score', :locals => {:user_id => current_user.id, :comment_id => comment.id} %>
      <% end %>
    </div>
    <% if comment.micropost.top_comment == comment.id %>
      <span style="display: inline-block; vertical-align: top; font-size: 2em; margin-right: 10px;" class="glyphicon glyphicon-ok top-comment" data-toggle="tooltip" data-placement="top" title="Post author's accepted answer"></span>
    <% end %>
    <%= simple_format(comment.message, style: "display: inline-block; vertical-align: top;") %>
  </div>

  <%= render Comment.where(:head => comment.id).all.order(created_at: :desc).sort_by {|x| x.points }.reverse %>

</div>