<% voted = Vote.find_by(:user_id => user_id, :comment_id => comment_id) %>
<% if voted %>
	<% if voted.points == 1 %>
			<% upvoted = true %>
	<% elsif voted.points == -1%>
			<% downvoted = true %>
	<% end %>
<% end %>

<% total_points = Comment.find(comment_id).points %>

<%= link_to submit_vote_path(:user_id => user_id, :comment_id => comment_id, :points => 1), :remote => true do %>
	<span style="display: block;" class="glyphicon glyphicon-chevron-up upvote <%= upvoted ? 'voted' : '' %>"></span>
<% end %>

<span><%= total_points %></span>

<%= link_to submit_vote_path(:user_id => user_id, :comment_id => comment_id, :points => -1), :remote => true do %>
	<span style="display: block;" class="glyphicon glyphicon-chevron-down downvote <%= downvoted ? 'voted' : '' %>"></span>
<% end %>