<h1>Your Overlays</h1>

<%= form_for(@new_overlay) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :name, "Overlay name:" %>
  <%= f.text_field :name, maxlength: 75 %>

  <div class="picture">
    <span style="display: inline-block; font-size: 1.2em;" class="glyphicon glyphicon-picture"></span>
    <p style="display: inline-block; text-align: top;">Add an overlay (10mb max)</p>
    <%= f.file_field :picture, accept: 'image/jpeg,image/png' %>
  </div>
  
  <%= f.submit "Add new overlay", class: "pop-button" %>
<% end %>


<% @overlays.each_with_index do |overlay| %>
  <img src="<%= overlay.picture.url %>" /> 
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 10) {
      alert('Maximum file size is 10MB. Please choose a smaller file.');
    }
  });
</script>