<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% if logged_in? %>
    <div>
      <h5>Upload a new profile picture (10mb max)</h5>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
  <% end %>

  <%= f.label :name, "Name"%>
  <%= f.text_field :name, maxlength: 50 %>
  
  <%= f.label :email, "Email" %>
  <%= f.email_field :email %>

  <% if current_user %>

    <%= f.label :password %>
    <%= f.password_field :password, placeholder: "••••••••••••••••••••" %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, placeholder: "••••••••••••••••••••" %>

    <%= f.label :company, "Organization"%>
    <%= f.text_field :company, maxlength: 50  %>

    <hr>

    <%= f.label :website, "Company Website" %>
    <%= f.url_field :website, maxlength: 50 %>

    <%= f.label :color, "Main Company Color (HEX)" %>
    <%= f.text_field :color, id: "color_picker" %>

    <%= link_to "preview landing page", landing_page_path(id: 1), target: "_blank" %>

    <hr>

    <!-- <h5>Upload a new cover photo (10mb max)</h5> -->
    <%#= f.file_field :cover_photo, accept: 'image/jpeg,image/gif,image/png' %>

    <%= f.label :slug, "Username/Profile Url" %>
    <input type="textbox" placeholder="<%= @user.slug %>" id="slug-input" maxlength='75' />
    <div>
      <p style="display: inline-block; ">www.promoposts.net/users/</p>
      <%= f.text_field :slug, readonly: true, id: "real-slug", style: 'display: inline-block; width: auto;' %>
    </div>
  <% else %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.hidden_field :timezone, :value => "", id: "user_time_zone" %>
    <%= f.hidden_field :slug, :value => "" %>
  <% end %>
  <%= f.submit yield(:button_text), class: "btn-submit btn-submit-full-width" %>
<% end %>

<script>
  <% if current_user %>
    $("#slug-input").on("change keyup paste", function(){
      result = $("#slug-input").val();
      if(result == ""){
        result = "<%= @user.slug %>";
      }else{
        result = result.replace(/[^a-zA-Z0-9]/g, "_")
      }
      $("#real-slug").val(result);
    })
  <% end %>

  $("#color_picker").spectrum({
      preferredFormat: "hex",
      showInput: true,
      color: "<%= current_user.color rescue '#ffffff' %>"
  });

  document.getElementById('user_time_zone').value = jstz.determine().name();
</script>