<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% if logged_in? %>
    <div>
      <h5>Upload a new profile picture (10mb max)</h5>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
  <% end %>

  <%= f.label :category, "Category: I am a..." %><br />
  <div class="categoryLabel">
  <%= f.label :category, "distributor" %>
  <%= f.radio_button :category, "distributor", :checked => logged_in? && @user.category == "distributor" %>
  </div>
  <div class="categoryLabel">
  <%= f.label :category, "vendor" %>
  <%= f.radio_button :category, "vendor", :checked => logged_in? && @user.category == "vendor" %>
  </div>
  <div class="categoryLabel">
  <%= f.label :category, "neither" %>
  <%= f.radio_button :category, "none", :checked => logged_in? && @user.category == "none" %>
  </div><br />

  <%= f.label :name, "Organization/Name"%>
  <%= f.text_field :name, class: 'form-control' %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>