<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <% if logged_in? %>
    <div>
      <h5>Upload a new profile picture (10mb max)</h5>
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
    <div>
      <h5>Upload a new cover photo (10mb max)</h5>
      <%= f.file_field :cover_photo, accept: 'image/jpeg,image/gif,image/png' %>
    </div>
  <% end %>

  <%= f.label :category, "Category: I am a..." %><br />
  <div class="categoryLabel">
  <%= f.label :category, "distributor" %>
  <%= f.radio_button :category, "distributor", :checked => logged_in? && @user.category == "distributor" %>
  </div>
  <div class="categoryLabel">
  <%= f.label :category, "vendor" %>
  <%= f.radio_button :category, "vendor", :checked => logged_in? && @user.category == "vendor" %>
  </div>
  <div class="categoryLabel">
  <%= f.label :category, "neither" %>
  <%= f.radio_button :category, "none", :checked => logged_in? && @user.category == "none" %>
  </div><br />

  <%= f.label :name, "Organization/Name"%>
  <%= f.text_field :name, class: 'form-control' %>
  
  <%= f.label :email %>
  <% if @user.verify_email || !current_user %>
    <%= f.email_field :email, class: 'form-control' %>
  <% else %>
    <%= f.email_field :email, class: 'form-control', value: '' %>
  <% end %>

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <% if current_user %>
    <%= f.label :slug, "Profile Url" %>
    <input type="textbox" class="form-control" placeholder="<%= @user.slug %>" id="slug-input" maxlength='75' />
    <div>
      <p style="display: inline-block; ">www.promoposts.net/</p>
      <%= f.text_field :slug, class: 'form-control', readonly: true, id: "real-slug", style: 'display: inline-block; width: auto;' %>
    </div>
  <% else %>
    <%= f.hidden_field :slug, :value => SecureRandom.hex(64) %>
  <% end %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<script>
  <% if current_user %>
    $("#slug-input").on("change keyup paste", function(){
      result = $("#slug-input").val();
      if(result == ""){
        result = "<%= @user.slug %>";
      }else{
        result = result.replace( /[^\w]/g, '_' );
      }
      $("#real-slug").val(result);
    })
  <% end %>
</script>