<div class="user-block">
  <div class="avatar avatar-thumbnail" style="background-image: url('<%= user.avatar %>');"></div>
  <%= link_to(user.name, user, :style => "width: 200px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; display: block;") %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
  <p class="user-company" style="font-size: 0.8em;"><%= user.company %></p>
  <div>
    <%= render :partial => 'shared/accolades', :locals => {:user => user} %>
  </div>
</div>

<script>
  show_tooltips();
</script>