<% provide(:title, 'All users') %>

<div id="usersIndexSearch">
	<h3>Find a user</h3>
	<%= form_tag users_path, :method => 'get' do %>
	  <%= text_field_tag :search, params[:search] %>
	  <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
	<% end %>
</div>

<div id="usersContainer" style="padding-top: 20px;">
	<ul id="usersIndex" class="users">
		<%= render @users %>
	</ul>
</div>
<%= will_paginate @users %>

