<% provide(:title, @user.name) %>

<div class="row dashboard">
  <% if current_user == @user %>
    <div class="col col-md-3 col-sm-12">
      <%= render partial: "shared/action_button", locals: { text: "edit my profile", glyphicon: "user", goto: edit_user_path } %>
    </div>
    <div class="col col-md-3 col-sm-12">
      <%= render partial: "shared/action_button", locals: { text: "create post", glyphicon: "pencil", goto: microposts_new_path } %>
    </div>
    <div class="col col-md-3 col-sm-12">
      <%= render partial: "shared/action_button", locals: { text: "create campaign", glyphicon: "flag", goto: new_campaign_path } %>
    </div>
  <% end %>
  <% if current_user && current_user.admin? %>
    <div class="col col-md-3 col-sm-12">
      <%= render partial: "shared/action_button", locals: { text: "delete user", glyphicon: "trash", goto: @user, confirm_prompt: "Are you sure?", method: "delete" } %>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= render partial: "shared/user_info", locals: { user: @user, thumbnail_width: 150, font_multiply: 1.7 } %>
      <div class="follow_user">
        <%#= render 'shared/follow_form' if logged_in? %>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <%= form_tag @user, :method => 'get' do %>
        <%= render partial: "/shared/post_category_select", locals: {
          prompt: "Get digital assets by category...",
          include_all: true,
          input_name: 'feed',
          submits: true
        } %>
      <% end %>
    </div>
  </div>
  <hr>
  <%= render 'shared/feed' %>
  <div id="end" class="hide">
    <hr><h3>end</h3>
  </div>

</div>

<script>
  $( document ).ready(function() {

    $(".eventContainer").removeClass("col-md-4");
    $(".eventContainer").addClass("col-md-12");
    
    history.pushState(null, '<%= :title %>', '/users/<%= @user.slug %>');

    var profileWidth = $("#profile_pic").width();
    $("#profile_pic").height(profileWidth);

  });
  
</script>