<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <div id="user_display">
      <section class="user_info">
        <div id="avatarBacking" style="display: inline-block; vertical-align: top;">
          <div class="avatar" style="background-image: url('<%= @user.avatar %>');"></div>
        </div>
        <h1>
          <%= link_to @user.name, @user %>
        </h1>
      </section>
    </div>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <div class="users-gallery">
        <%= render @users %>
      </div>
      <%= will_paginate %>
    <% end %>
  </div>
</div>