<% provide(:title, @user.name) %>

<!--modal-->
  <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

<% if @user == current_user %>
  <%= link_to(edit_user_path) do%>
    <div id="profile-edit-link" class="pop-button mobile-button">
      <span class='glyphicon glyphicon-pencil'></span><p style="display: inline-block; margin-left: 5px;">edit my profile</p>
    </div>
  <% end %>
<% end %>

<div style="position: relative;">
<div id="user_display">
  <section class="user_info">
    <div id="avatarBacking" style="display: inline-block; vertical-align: top;">
      <div class="avatar" style="background-image: url('<%= @user.avatar %>');"></div>
    </div>
    <h1>
      <span style="text-align: left; display: block;"><%= @user.name %></span>
    </h1>
  </section>

</div>

<% if @user.cover_photo? %>
  <div id="coverPhoto" style="background-image: url('<%= @user.cover_photo %>'); background-position: center; background-size: cover;">
  </div>
<% else %>
  <div id="coverPhoto" style="padding-top: 0px; height: <%= @user.cover_photo? ? '100' : '0' %>%;">
  </div>
<% end %>
</div>

<div class="row" >
  <div class='col-md-4 col-sm-12'>
    <%= render :partial => 'shared/accolades', :locals => {:user => @user} %>
  </div>
  <div class='col-md-4 col-sm-12'>
    
  </div>
  <div class='col-md-4 col-sm-12'>
    <%= render 'shared/stats' %>
  </div>
</div>

<div class="mobile-button" style="display: inline-block;">
  <%= render 'follow_form' if logged_in? %>
  <%= link_to show_lists_path(:id => @user.id) do %>
    <div id="favoriteProducts" class="pop-button" style="margin-top: 20px;">
      <%= "My Product Lists (#{@user.lists.count})" %>
    </div>
  <% end %>
</div>

<div id="activity">
  <h3>Activity (<%= @events.count %>)</h3>
  <% if @events %>
    <ol id="microPostsContainer" class="microposts micropost-full">
      <%= render @events %>
    </ol>
    <%= will_paginate @events %>
  <% else %>
    <p>No activity.</p>
  <% end %>
</div>

<script>
  function togglePanel (){
     var w = $(window).width();
     if (w <= 768) {
        $('#collapseOne').removeClass('in');
     } else {
        $('#collapseOne').addClass('in');
     }
  }

  $( document ).ready(function() {
    togglePanel();
    
    history.pushState(null, '<%= :title %>', '/users/<%= @user.slug %>');

    var cover = document.getElementById('coverPhoto');
    var coverWidth = $("#coverPhoto").width();
    <% if !@user.cover_photo? %>
      //trianglify
      color_arr = ['#2d4059', '#437F97', '#f6f6f6'];

      shuffleArray(color_arr);

      var pattern = Trianglify({
        width: coverWidth,
        height: coverWidth*0.35,
        cell_size: 75,
        x_colors: color_arr
      });

      cover.appendChild(pattern.canvas());
    <% else %>
      $("#coverPhoto").height(coverWidth * 0.35);
    <% end %>

  });

  function shuffleArray (array){
    for (let i = array.length - 1; i > 0; i--) {
        const rand = Math.floor(Math.random() * (i + 1));
        [array[i], array[rand]] = [array[rand], array[i]];
    }
  }

  show_tooltips();
  
</script>