<% provide(:title, @user.name) %>

<!--modal-->
  <div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width: 75%;">
      <div class="modal-content"></div>
    </div>
  </div>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <div class="avatar" style="background-image: url('<%= @user.avatar %>'); height: 150px; width: 150px; border: 2px solid $sigBlue;"></div>
        <%= @user.name %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <%= render 'follow_form' if logged_in? %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @events %>
      <h3>Activity (<%= @events.count %>)</h3>
      <ol id="microPostsContainer" class="microposts micropost-full">
        <%= render @events %>
      </ol>
      <%= will_paginate @events %>
    <% end %>
  </div>
</div>