<% provide(:title, @title) %>
<div class="row">
  <div class="col-md-3 col-sm-12 sidebar">
    <div id="user_display">
      <%= render 'shared/current_user_info' %>
    </div>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </div>
  <div class="col-md-9 col-sm-12">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <div class="users-gallery" id="usersList">
        <%= render @users %>
      </div>
      <div id="infinite-scrolling">
        <%= will_paginate @users %>
      </div>
    <% end %>

  </div>
</div>