<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div id="digital_asset_buttons" class="create_post_buttons">
    <p>What type of digital asset is this?</p>
    <%= f.select :category, options_for_select(Micropost.category_array), :prompt => "Select a category" %>
  </div>

  <div class="field" style="">
    <%= f.text_area :content, placeholder: "Compose new post...", maxlength: 400 %>
  </div>
  <div class="picture">
    <span style="display: inline-block; font-size: 1.2em;" class="glyphicon glyphicon-picture"></span>
    <p style="display: inline-block; text-align: top;">Add an image (10mb max)</p>
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </div>
  <div class="external_url">
    <%= f.label :external_url, "Include a link:"%>
    <%= f.text_field :external_url, placeholder: "Include a website url here:", maxlength: 500 %>
  </div>
  <%= f.submit "Post", class: "pop-button" %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 10) {
      alert('Maximum file size is 10MB. Please choose a smaller file.');
    }
  });
</script>