<% if current_user.accolade.newcomer %>

	<div id="quickstart-wizard" class="jumbotron">
		<h2><strong>Quickstart Wizard</strong></h2>
		<p id="quickstart-subtitle" style="font-size: 1.5em; text-align: center;">Welcome to Promo Posts!</p>
		<div class="row">
			<div class="col col-md-3 col-sm-12">
				<%= link_to edit_user_path(:id => current_user.id) do %>
					<div class="pop-button">
						<span class="glyphicon glyphicon-<%= current_user.picture.url ? 'check' : 'unchecked' %>"></span>
						<p>1. upload a profile picture</p>
					</div>
				<% end %>
			</div>
			<div class="col col-md-3 col-sm-12">
				<%= link_to accounts_edit_path(:id => current_user.id) do%>
					<div class="pop-button">
						<span class="glyphicon glyphicon-<%= current_user.accounts.count > 0 ? 'check' : 'unchecked' %>"></span>
						<p>2. connect a social platform</p>
					</div>
				<% end %>
			</div>
			<div class="col col-md-3 col-sm-12">
				<%= link_to show_lists_path(:id => current_user.id) do %>
					<div class="pop-button">
						<span class="glyphicon glyphicon-<%= current_user.lists.count > 0 ? 'check' : 'unchecked' %>"></span>
						<p>3. create a product list</p>
					</div>
				<% end %>
			</div>
			<div class="col col-md-3 col-sm-12">
				<%= link_to microposts_new_path do %>
					<div class="pop-button">
						<span class="glyphicon glyphicon-<%= current_user.microposts.count > 0 ? 'check' : 'unchecked' %>"></span>
						<p>4. create a post</p>
					</div>
				<% end %>
			</div>
		</div>
		<%= link_to decline_wizard_path, :remote => true, :id => "decline-wizard", :style => "text-align: right; display: block;" do %>
			no thanks, I <em>am</em> the wizard <span class="glyphicon glyphicon-remove"></span>
		<% end %>
	</div>
	
<% end %>