<div class="action-wrapper col-md-<%= @boot_columns %> col-sm-12" style="padding: 0px;">
	<% @active_user = User.find(event.user_id) %>

	<% if @event_counts.key?(event.micropost.id) %>
		<div class="avatar avatar-thumbnail" style="width: 25px; height: 25px;background-image: url('/assets/multi_avatar.svg');"></div>
		<span style="margin-left: 5px; font-size: 1em;"><%= pluralize(@event_counts[event.micropost.id], 'user') %> interacted with a post</span>
		<% puts "EVENT_COUNTS: #{@event_counts[event.micropost.id]}" %>
		<% puts "EVENT_COUNTS ALL: #{@event_counts}" %>

	<% else %>
		<div class="avatar avatar-thumbnail" style="width: 25px; height: 25px;background-image: url('<%= @active_user.avatar %>');"></div>
		<span class="user" style="font-size: 1.1em;"><%= link_to @active_user.name, @active_user %></span>
	
		<% case event.contribution %>
			<% when 'create' %>
				<span style="margin-left: 5px; font-size: 1em;">created a post</span>
			<% when 'share' %>
				<span style="margin-left: 5px; font-size: 1em;">shared to social media</span>
			<% when 'comment' %>
				<span style="margin-left: 5px; font-size: 1em;">commented on a post</span>
			<% else %>
				<span style="margin-left: 5px; font-size: 1em;">posted:</span>
		<% end %>

	<% end %>

	<span style="font-size: 0.8em;">
		<% if current_user %>
		    <% if current_user.id == event.user_id || current_user.admin? %>
		      <%= link_to "remove", event, method: :delete,
		                                       data: { confirm: "Are you sure?" } %>
		    <% end %>
		<% end %>
	</span>

	<% @micropost = Micropost.find(event.micropost_id) %>
	<%= render @micropost %>
</div>