<div class="event_user_header">
  <% if event.campaign && event.campaign.microposts.count > 0 %>
    <%= render partial: 'events/event_user', locals: { user: event.user} %>
    <p class="contribution_line"><%= event.contribution %>d a campaign</p>
    <%= render event.campaign %>
  <% elsif event.micropost %>
    <% unless event.contribution == "create" && event.micropost.campaign %>
      <%= render partial: 'events/event_user', locals: { user: event.user} %>
      <p class="contribution_line"><%= event.contribution %><%= event.contribution == "comment" ? "ed on " : "d" %> a <%= event.micropost.category.tr("_", " ") %></p>
      <%= render event.micropost %>
    <% end %>
  <% end %>
</div>