<h3>(3/5) Automated post scheduling</h3>

<p>Promo Posts can post scheduled relevant content to your social media. Based on the topics you chose, here are some upcoming posts: </p>

<hr>

<h4>scroll <span class="glyphicon glyphicon-arrow-right"></span></h4>
<div class="slider" style="height: 350px;">
	<% scheduled_posts = current_user.scheduled_posts.joins(:topic => :scheduled_posts).where("scheduled_posts.post_time >= ? AND scheduled_posts.post_time < ? AND scheduled_posts.platform IN (?)",  current_user.user_time_to_utc(Time.now.getutc), current_user.user_time_to_utc( (Time.now.getutc + 13.days).to_time), current_user.accounts.pluck(:platform).uniq ).uniq.sort_by { |p| p.post_time } %>
	<% scheduled_posts.each do |post| %>
		<div class="slider-block slider-block-captioned">			
			<div>
				<strong><%= post.post_time.strftime("%B %-d") %></strong>
				<br>
				<%= post.platform.titlecase %>
			</div>
			<img src="<%= post.picture_url %>" style="height: auto; width: auto; max-width: 100%; max-height: 300px;" />
			<div class="caption">
				<strong>caption:</strong><br>
				<%= post.caption %>
			</div>
		</div>
	<% end %>
</div>

<hr>

<h4>Would you like Promo Posts to post content on your behalf?</h4>

<%= form_tag(update_on_schedule_all_path, remote: :true, method: :post, id: "update-onschedule-form", style: "display: block; margin-left: 10px; margin-top: 5px;" ) do %>
	<label class="switch switch-jumbo">
		<% should_check = current_user.accounts.first.on_schedule rescue false %>
		<%= check_box_tag( "on_schedule", value = "1", checked = should_check, options = { id: "on_off_checkbox", onchange: "$('#update-onschedule-form').submit();"}) %>
	  <span class="toggle round" ></span>
	</label>
	<span style="font-size: 1.3em;" id="off_message">Don't post scheduled content on my behalf.</span><span style="display: none; font-size: 1.3em;" id="on_message">Post scheduled content on my behalf.</span>
<% end %>

<p>You can update this feature individually for each account in the settings.</p>

<script>
	$("#on_off_checkbox").change(function(){
		if($(this).val() == 1){
			$("#on_message").toggle();
			$("#off_message").toggle();
		}
		else{
			$("#on_message").toggle();
			$("#off_message").toggle();
		}
	});
</script>