<div class="onboarding_page">
	<div class="splash short-splash" style="background-size: cover; background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url(<%= image_path('splash-home.jpg') %>); background-size: cover;">
		<h1>Welcome to Promo Posts</h1>
	</div>

	<div class="container" >
		<div id="onboarding_container" >
		</div>
		<div class="footer">
			<%= link_to "next", onboarding_next_stage_path(id: current_user.id), remote: :true, class: "btn-next" %>
		</div>
	</div>
</div>

<script>
	update_stage(<%= @step %>);
	function update_stage(step){
		if( step == 0 ){
			$("#onboarding_container").html("<%= j render 'step_one' %>");
		}else if( step == 1 ){
			$("#onboarding_container").html("<%= j render 'step_two' %>");
		}else if( step == 2 ){
			$("#onboarding_container").html("<%= j render 'step_three' %>");
		}else if( step == 3 ){
			$("#onboarding_container").html("<%= j render 'step_four' %>");
		}else if( step == 4 ){
			$("#onboarding_container").html("<%= j render 'step_five' %>");
		}else{
			// you're done, render next steps page. hide next button
			$("#onboarding_container").html("<%= j render 'step_six' %>");
		}

		window.scrollTo(0,0);
	}
</script>