<div class="section">
  <span class="content">
    <p class="content-minified" style="font-size: 1.2em; overflow: hidden; height: 5em;"><%= content.length > 100 ? content[0..97] : content %> <span class="go-to-post"><%= content.length > 100 ? '...' : '' %><span class="go-to-post-link">go to post</span></span></p>
    <p class="content-full" style="font-size: 1.2em; overflow: hidden; height: 5em;"><%= content %></p>

    <% if picture_url %>
      <div class="square" style="background-image: url('<%= picture_url %>');">
          <%#= render :partial => 'shared/click_to_share', :locals => {:btn_title => clickable, :shareable => shareable} %>
      </div>
    <% else %>
      <div class="noPic square <%= bgcolor %>">
      <span></span><strong>"<%= content %>"</strong>
        <%#= render :partial => 'shared/click_to_share', :locals => {:btn_title => clickable, :shareable => shareable} %>
      </div>
    <% end %>

  </span>
</div>