<li id="micropost-<%= micropost.id %>">
  <div class="section">
    <div class="avatar avatar-thumbnail" style="background-image: url('<%= micropost.user.avatar %>');"></div>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  </div>
  <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user %>
        <% if current_user?(micropost.user) || current_user.admin? %>
          <%= link_to "delete", micropost, method: :delete,
                                           data: { confirm: "You sure?" } %>
        <% end %>
    <% end %>
    </span>
    <%= link_to(micropost) do %>
      <div class="section">
          <span class="content">
            <%= micropost.content %>
            <% if micropost.picture? %>
              <div class="square" style="background-image: url('<%= micropost.picture.url %>');">
                <div class="clickToShare">
                  <p>Click to share!</p>
                </div>
              </div>
            <% end %>
            <% if micropost.picture? == false %>
            <div class="noPic square">
              <span></span><strong>"<%= micropost.content %>"</strong>
                <div class="clickToShare">
                  <p>Click to share!</p>
                </div>
            </div>
            <% end %>
          </span>
      </div>
    <% end %>
</li>