<% @user = micropost.user %>

<li id="micropost-<%= micropost.id %>" >
  <div class="user-info">
    <div class="avatar avatar-thumbnail" style="background-image: url('<%= micropost.user.avatar %>');"></div>
    <div class="user" style="display: inline-block;">
      <%= link_to micropost.user.name, micropost.user %>
      <p class="user-company"><%= micropost.user.company || "&nbsp;".html_safe %></p>
    </div>
  </div>

    <% case micropost.category %>
      <% when 'question' %>
        <% bgcolor = 'questionBack' %>
      <% when 'careers' %>
        <% bgcolor = 'careersBack' %>
      <% else %>
        <% bgcolor = 'defaultBack' %>
    <% end %>

    <% if controller_name != "users" && logged_in? %>
      <div style="height: 20px; margin-bottom: 5px;">
        <%= render 'shared/follow_form'%>
      </div>
    <% end %>
    <%= render :partial => 'shared/accolades', :locals => {:user => @user } %>

    <span class="timestamp">
      <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user %>
        <% if current_user?(micropost.user) || current_user.admin? %>
          <%= link_to "delete", micropost, method: :delete,
                                           data: { confirm: "You sure?" } %>
        <% end %>
      <% end %>
    </span>

    <%=link_to(micropost) do %>
      <%= render :partial => 'microposts/content', :locals => {:micropost => micropost, :bgcolor => bgcolor} %>
    <% end %>

    <div>
      <%= link_to micropost, :data=> {:micropost_id => micropost.id} do %>
        <span class="click-to-comments" style="display: inline-block;"><%= pluralize( micropost.comments.count, 'Comment' ) %>
        </span>
      <% end %>
      <% if micropost.external_url %>
        <%= link_to(micropost.external_url, :class => "go-to-external-link", :style => "float:right;", :target => "_blank") do %>
          <span class="glyphicon glyphicon-link"></span>
          go to link
        <% end %>
      <% end %>
    </div>

    <% if controller_name == "users" && @user == current_user %>
      <div>
        <p><span class="glyphicon glyphicon-stats"></span> Shares: <%= micropost.shares %> | Downloads: <%= micropost.downloads %></p>
      </div>
    <% end %>

</li>

<script>
  show_tooltips();
</script>