<% @user = micropost.user %>

<li id="micropost-<%= micropost.id %>" >
  <div>
    <div class="avatar avatar-thumbnail" style="background-image: url('<%= micropost.user.avatar %>');"></div>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  </div>
    <span class="timestamp" style="">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user %>
        <% if current_user?(micropost.user) || current_user.admin? %>
          <%= link_to "delete", micropost, method: :delete,
                                           data: { confirm: "You sure?" } %>
        <% end %>
      <% end %>
    </span>

    <% case micropost.category %>
      <% when 'question' %>
        <% bgcolor = 'yellowBack' %>
      <% when 'products_discussion' %>
        <% bgcolor = 'cadetBack' %>
      <% else %>
        <% bgcolor = 'blueBack' %>
    <% end %>

    <% if micropost.shareable%>
      <% if logged_in? %>
        <% clickable = 'click' %>
      <% else %>
        <% clickable = 'login' %>
      <% end %>
    <% else %>
      <% clickable = '' %>
    <% end %>

    <%= render :partial => 'shared/accolades', :locals => {:category => @user.category} %>
    <%= render 'shared/follow_form' if controller_name != "users" && logged_in? %>

    <% if logged_in? && micropost.shareable %>
      <%=link_to({:controller => "microposts", :action => "view", :remote => true, :id => micropost.id, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}, :class => "SoMeIcon") do %>
        <%= render :partial => 'microposts/content', :locals => {:picture_url => micropost.picture.url, :content => micropost.content, :clickable => clickable, :shareable => micropost.shareable, :bgcolor => bgcolor} %>
      <% end %>
    <% else %>
      <%=link_to(@micropost) do %>
        <%= render :partial => 'microposts/content', :locals => {:picture_url => micropost.picture.url, :content => micropost.content, :clickable => clickable, :shareable => micropost.shareable, :bgcolor => bgcolor} %>
      <% end %>
    <% end %>

    <%= link_to @micropost, :data=> {:micropost_id => @micropost_id} do %>
      <p><%= pluralize( @micropost.comments.count, 'Comment' ) %></p>
    <% end %>
</li>

<script>
  show_tooltips();
</script>