<li id="micropost-<%= micropost.id %>" >
  <div>
    <div class="avatar avatar-thumbnail" style="background-image: url('<%= micropost.user.avatar %>');"></div>
    <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  </div>
  <span class="timestamp">
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user %>
        <% if current_user?(micropost.user) || current_user.admin? %>
          <%= link_to "delete", micropost, method: :delete,
                                           data: { confirm: "You sure?" } %>
        <% end %>
    <% end %>
    </span>
    <% @user = micropost.user %>
    <% if logged_in? %>
      <%= render 'shared/follow_form' if controller_name != "users" %>
      <%=link_to({:controller => "microposts", :action => "show", :remote => true, :id => micropost.id, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'}, :class => "SoMeIcon") do%>
          <div class="section">
            <span class="content">
              <%= micropost.content %>
              <% if micropost.picture? %>
                <div class="square" style="background-image: url('<%= micropost.picture.url %>');">
                  <div class="clickToShare">
                    <% if logged_in? %>
                      <p>Click to share!</p>
                    <% else %>
                      <p>Login to share!</p>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if micropost.picture? == false %>
              <div class="noPic square">
                <span></span><strong>"<%= micropost.content %>"</strong>
                  <div class="clickToShare">
                    <% if logged_in? %>
                      <p>Click to share!</p>
                    <% else %>
                      <p>Login to share!</p>
                    <% end %>
                  </div>
              </div>
              <% end %>
            </span>
        </div>
      <% end %>
    <% else %>
      <div class="section">
            <span class="content">
              <%= micropost.content %>
              <% if micropost.picture? %>
                <div class="square" style="background-image: url('<%= micropost.picture.url %>');">
                  <div class="clickToShare">
                    <% if logged_in? %>
                      <p>Click to share!</p>
                    <% else %>
                      <p>Login to share!</p>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if micropost.picture? == false %>
              <div class="noPic square">
                <span></span><strong>"<%= micropost.content %>"</strong>
                  <div class="clickToShare">
                    <% if logged_in? %>
                      <p>Click to share!</p>
                    <% else %>
                      <p>Login to share!</p>
                    <% end %>
                  </div>
              </div>
              <% end %>
            </span>
        </div>
    <% end %>

</li>