<%= form_for @event, url: share_to_socials_path(:id => current_user.id, :micropost_id => @micropost.id), html: {method: :post} do |f| %>
	<div style="margin: 0px; text-align: right;">
		<%= link_to @micropost, :data=> {:current_user_id => current_user.id, :micropost_id => @micropost_id}, :class => "link_to_post" do %>
			<span class="glyphicon glyphicon-link"></span><p>Link to Post</p>
		<% end %>
		<button type="button" class="close" data-dismiss="modal" ><span class="glyphicon glyphicon-remove"></span></button>
	</div>
	<div class="row">
		<div class="col-md-8">
			<div class="modal-header">
				<h3 class="modal-title" id="myModalLabel">1. Edit your caption</h3>
			</div>
			<div class="modal-body">
			  <div class="micropost-modal">
				  <div class="section">
				      <span class="content">
				      	<%= f.text_field :message, :value => @micropost.content %>
				        <% if @micropost.picture? %>
				        	<img src="<%= @micropost.picture.url %>", alt="promo post picture" />
				        <% end %>
				      </span>
				  </div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="modal-header">
				<h3 class="modal-title" id="myModalLabel">2. Share it!</h3>
			</div>
			<div id="shareContainer">
			    <% if current_user %>
			      <%= link_to({:controller => "microposts", :action => "facebook_sharable_pages", :id => current_user.id, :micropost => @micropost.id, remote: true}, :class => "SoMeIcon facebook-login") do%>
			        <img src="<%= ActionController::Base.helpers.asset_path('facebook.svg')%>">
			      <% end %>
			      <div id="fb-pages-container" class="inactive first">
			      </div>
			      <%= link_to({:controller => "microposts", :action => "linkedin_sharable_pages", :id => current_user.id, :micropost => @micropost.id, remote: true}, :class => "SoMeIcon linkedin-login") do%>
			        <img src="<%= ActionController::Base.helpers.asset_path('linkedin.svg')%>">
			      <% end %>
			      <div id="linkedin-pages-container" class="inactive first">
			      </div>
			      <%= link_to({:controller => "microposts", :action => "buffer_sharable_pages", :id => current_user.id, :micropost => @micropost.id, remote: true}, :class => "SoMeIcon buffer-login") do%>
			        <img src="<%= ActionController::Base.helpers.asset_path('buffer.svg')%>">
			      <% end %>
			      <div id="buffer-pages-container" class="inactive first">
			      </div>
			    <% else %>
			      <%= link_to( "Please log in to share posts", login_path) %>
			    <% end %>
			  </div>
			  <div class="modal-footer">
				<%= f.submit "Share", class: "btn btn-primary" %>
			</div>
		</div>
		<div class="col-md-1">
			
		</div>
	</div>
<% end %>
