<div class="sidebar-form">
	<%= form_for @event, url: share_to_socials_path(:id => current_user.id, :micropost_id => @micropost.id, :token => @token), html: {method: :post} do |f| %>
		<%= f.label :message, "Enter a caption:" %>
		<div class="pop-button" style="margin-bottom: 10px;" id="useOriginalText">Use/Edit Original Text</div>
		<%= f.text_area :message, :id => "inputText", :maxlength => 240 %>
		<div id="shareContainer" style="margin-top: 10px;">
	    	<span class="SoMeIcon">
	    		<img class="facebook-login" src="<%= ActionController::Base.helpers.asset_path('facebook.svg')%>">
	    	</span>
	    	<% if !@fbaccounts.empty? %>
				<% @fbaccounts.each do |page| %>
					<%= render(:partial => 'page_display', :locals => { :page_name => page.name, :page_id => page.account_id, :page_picture => page.picture}) %>
				<% end %>
			<% else %>
				<% if current_user.fb_uid %>
					<h6>No sharable pages available.</h6>
				<% else %>
					<%= render(:partial => 'shared/connect_account', :locals => { :provider => 'facebook'}) %>
				<% end %>
			<% end %>
			<span class="SoMeIcon">
	    		<img class="linkedin-login" src="<%= ActionController::Base.helpers.asset_path('linkedin.svg')%>">
	    	</span>
	    	<% if !@linkedinaccounts.empty? %>
				<% @linkedinaccounts.each do |page| %>
					<%= render(:partial => 'page_display', :locals => { :page_name => page.name, :page_id => page.account_id, :page_picture => page.picture}) %>
				<% end %>
			<% else %>
				<% if current_user.linkedin_uid %>
					<h6>No sharable pages available.</h6>
				<% else %>
					<%= render(:partial => 'shared/connect_account', :locals => { :provider => 'linkedin'}) %>
				<% end %>
			<% end %>
			<span class="SoMeIcon">
	    		<img class="buffer-login" src="<%= ActionController::Base.helpers.asset_path('buffer.svg')%>">
	    	</span>
			<% if !@bufferaccounts.empty? %>
				<% @bufferaccounts.each do |page| %>
					<%= render(:partial => 'page_display', :locals => { :page_name => page.name, :page_id => page.account_id, :page_picture => page.picture}) %>
				<% end %>
			<% else %>
				<% if current_user.buffer_uid %>
					<h6>No sharable pages available.</h6>
				<% else %>
					<%= render(:partial => 'shared/connect_account', :locals => { :provider => 'buffer'}) %>
				<% end %>
			<% end %>
	  	</div>
	  	<div>
			<%= f.submit "Share", class: "pop-button hidden", id: "share-button" %>
			<div id="micropost-missing-fields" class="pop-button pop-button-grey" style="display: block; margin: 5px 0;">Share</div>
			<ul style="text-align: left;">
				<li id="missing-text">Missing text</li>
				<li id="missing-pages">Missing pages to share to</li>
			</ul>
		</div>
	<% end %>
</div>

<script>
	$('#useOriginalText').click(function() {
	  $( "#inputText" ).val("<%= escape_javascript(raw(@micropost.content)) %>");
	  check_fields();
	});

	$("#inputText").on("change keyup paste", function(){
		check_fields();
	})

	function check_fields(){
		text = document.getElementById("inputText");
		var str_length = text.value.length;

		var checkboxes = document.getElementsByName('event[pages][]');
		var pageChecked = false;

		for(var i = 0; i < checkboxes.length; i++) {
		    if(checkboxes[i].type.toLowerCase() == 'checkbox') {
		        if(checkboxes[i].checked == true){
		        	pageChecked = true;
		        }
		    }
		}

		if(str_length > 0 && pageChecked == true){
			all_fields();
		}else{
			missing_fields(str_length, pageChecked);
		}
	}

	function missing_fields(str_length, pageChecked){
		if(str_length > 0){
			$('#missing-text').addClass('hidden');
		}else{
			$('#missing-text').removeClass('hidden');
		}

		if(pageChecked){
			$('#missing-pages').addClass('hidden');
		}else{
			$('#missing-pages').removeClass('hidden');
		}

		$('#share-button').addClass('hidden');
		$('#micropost-missing-fields').removeClass('hidden');
	}
	function all_fields(){
		$('#missing-text').addClass('hidden');
		$('#missing-pages').addClass('hidden');
		$('#share-button').removeClass('hidden');
		$('#micropost-missing-fields').addClass('hidden');
	}
</script>