<div class="row dashboard">
  <div class="col col-md-3 col-sm-12">
  	<%= render partial: "shared/action_button", locals: { text: "download post", glyphicon: "cloud-download", goto: download_post_page_path(:id => @micropost.id) } %>
  </div>
  <div class="col col-md-3 col-sm-12">
  	<%= render partial: "shared/action_button", locals: { text: "share to social media", glyphicon: "share-alt", goto: share_post_path(:id => @micropost.id) } %>
  </div>
</div>

<div class="container" >

	<div class="row base-layout">
		<div class="col-md-9 col-sm-12 left-panel">
			<%= render partial: "shared/campaign_tag" %> 
			<div>
	      <img style="max-width: 100%; max-height: 150vh;" src="<%= @micropost.picture.url %>", alt="promo post picture" />
	    </div>
		</div>

		<div class="col-md-3 col-sm-12 right-panel" >
			<div>
				<p>submitted by:</p>
				<%= render partial: "shared/user_info", locals: { user: @user, thumbnail_width: 50 } %>
		    <hr>
				<h4><strong>caption:</strong></h4>
				<p>"<%= @micropost.content %>" 
		  		<% if @micropost.external_url.present? %>
		  			<br><span class="go-to-external-link"><span class="glyphicon glyphicon-link"></span><%=link_to('go to link',"http://#{@micropost.external_url}", :target=>"_blank") %></span>
		  		<% end %>
		  	</p>
		  </div>
		  <hr>
		  <div>
		  	<% if @micropost.category %>
		    	<% if Rails.env.production? %>
	      			<% image = MiniMagick::Image.open(@micropost.picture.url) %>
		      	<% else %> 
		      		<% pic_url = @micropost.picture.path %>
		      		<% image = MiniMagick::Image.open(pic_url) %>
		      	<% end %>
	  			<p><%= @micropost.category.titlecase.tr("_", " ") %><br><%= image[:width] %> x <%= image[:height] %> px</p>
			<% end %>

		  	<% if current_user == @micropost.user %>
					<p>Shares: <%= @micropost.shares %> | Downloads: <%= @micropost.downloads %></p>
				<% end %>
			</div>
		</div>
	</div>

</div>
