<% platform_accounts = current_user.accounts.where( :platform => platform.downcase ) %>
<% platform_posts = @campaign.microposts.where(:category => "#{platform.downcase}_post") %>

<div class="row" style="margin-top: 10px;">
	<h4 class="social-login <%= platform.downcase %>-bg">
		<%= image_tag "#{platform.downcase}.svg", :style => "margin-right: 10px;" %>Share to <%= platform %>: </h4>
	<div class="col-md-7 col-sm-12">
		<div class="post_carousel" >
			<% if platform_posts.count > 1 %>
				<div>
					<span class="arrow glyphicon glyphicon-chevron-left" id="<%= platform.downcase %>-prev-image"></span> Choose a <%= platform %> post
					<span class="arrow glyphicon glyphicon-chevron-right" id="<%= platform.downcase %>-next-image"></span>
					<div class="carousel_radio_buttons" id="<%= platform.downcase %>_radio_buttons">
						<% platform_posts.each do |post| %>
							<%= radio_button_tag "microposts[#{platform.downcase}][post_id]", post.id %>
						<% end %>
					</div>
				</div>
			<% else %>
				<div style="display: none;">
					<% platform_posts.each do |post| %>
						<%= radio_button_tag "microposts[#{platform.downcase}][post_id]", post.id, :checked => "checked" %>
					<% end %>
				</div>
			<% end %>
			<div style="position: relative;">
				<div class="post_carousel_container" id="<%= platform.downcase%>_post_carousel" >
					<% platform_posts.each do |post| %>
						<%= image_tag post.picture.url, class: "#{platform.downcase}_image inactive"%>
					<% end %>
				</div>
				<% if platform_posts.count > 0 %>
					<div id="overlay_box_<%= platform.downcase %>" class="overlay_container" style="top: 0px; left: 0px;">
						<img id="overlay_image_<%= platform.downcase %>" src=""/>
						<div id="overlay_handle_<%= platform.downcase %>" class="overlay_handle"></div>
					</div>
				<% end %>
			</div>
			<% if platform_posts.count > 0 %>
				<div>
					Overlays (logos and banners):
					<span class="arrow arrow-prev-overlay glyphicon glyphicon-chevron-left" id="<%= platform.downcase %>-prev"></span>
					<p id="overlay_name_<%= platform.downcase %>" style="display: inline-block;"></p>
					<span class="arrow arrow-next-overlay glyphicon glyphicon-chevron-right"  id="<%= platform.downcase %>-next"></span>

					<%= text_field_tag "microposts[#{platform.downcase}][overlay][id]", "", :id => "overlay_input_id_#{platform.downcase}", style: "", class: "overlay_input" %>
					<%= text_field_tag "microposts[#{platform.downcase}][overlay][left]", "", :id => "overlay_input_left_#{platform.downcase}", style: "", class: "overlay_input" %>
					<%= text_field_tag "microposts[#{platform.downcase}][overlay][top]", "", :id => "overlay_input_top_#{platform.downcase}", style: "", class: "overlay_input" %>
					<%= text_field_tag "microposts[#{platform.downcase}][overlay][width]", "", :id => "overlay_input_width_#{platform.downcase}", style: "", class: "overlay_input" %>
					<%= text_field_tag "microposts[#{platform.downcase}][overlay][height]", "", :id => "overlay_input_height_#{platform.downcase}", style: "", class: "overlay_input" %>
				</div>
			<% end %>
		</div>

	</div>
	<div class="col-md-5 col-sm-12">
		<% if platform_posts.empty? %>
			<h6><span class="glyphicon glyphicon-exclamation-sign"></span> This campaign doesn't have a <%= platform %> post.</h6>
		<% elsif platform_accounts.empty? %>
			<h6><span class="glyphicon glyphicon-exclamation-sign"></span> No <%= platform %> pages to share to</h6>
		<% else %>
			<%#= label_tag "microposts[#{platform.downcase}][post_caption]", "Caption for #{platform} post:" %>
			<%#= text_area_tag "microposts[#{platform.downcase}][post_caption]", nil, :class => "captionText", :maxlength => 240, :val => "" %>
			<% platform_accounts.each do |page| %>
				<%= render(:partial => 'shared/page_display', :object => page, :as => "page") %>
			<% end %>
		<% end %>
	</div>
</div>