<div class="container" id="add_post_container">
  <h4>Add Post to Campaign</h4>
  <%= form_for @campaign, :remote => true, :html => {onsubmit: "document.getElementById('postingMsg').style.display = 'block';"} do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.fields_for :microposts, Micropost.new do |micropost| %>
      <div class="select-background post_category_select"">
        <%= micropost.select :category, options_for_select(Micropost.category_array), prompt: "What digital asset category is this?", id: "postInputSelect", required: true %>
      </div>
      <div style="margin-top: 10px;">
        <span style="display: inline-block; font-size: 1.2em;" class="glyphicon glyphicon-picture"></span>
        <p style="display: inline-block; text-align: top;">Add Picture (10mb max):</p>
        <%= micropost.file_field :picture, :id => "postInputPic", accept: 'image/jpeg,image/gif,image/png', required: true %>
      </div>
      <div>
        <p style="display: inline-block; text-align: top;">Add Caption:</p>
        <div class="btn-submit" id="useOriginalText" onclick="document.getElementById('postInputContent').value = '<%= escape_javascript(raw(@campaign.content)) %>';" >
          Use campaign caption
        </div>
        <%= micropost.text_area :content, id: 'postInputContent' , placeholder: "Tell us about your campaign...", maxlength: 500, required: true %>
      </div>
    <% end %>

    <div style="text-align: center;">
      <%= f.submit "Add to campaign", class: "btn-submit" %>
      <p id="postingMsg" style="margin-top: 10px; display: none;">posting...(large pictures may take a while to upload)</p>
    </div>
  <% end %>
</div>