<% if campaign.microposts.count > 0 %>

	<div class="campaign_item">
		<%= link_to campaign do %>
			<h2><strong><%= campaign.name %></strong> (<%= campaign.microposts.count %>)</h2>
		<% end %>
		<div class="slider">
			<% campaign_posts = campaign.microposts.sort_by { |p| p.created_at } %>
			<% campaign_posts.each do |post| %>
				<div class="slider-block">
					<%= link_to post do %>
						<p class="category-title"><%= post.category.titlecase.tr("_", " ") %></p>
						<img src="<%= post.picture.url %>" />
					<% end %>
				</div>
			<% end %>
		</div>
	</div>

<% end %>