<span id="close-dash" class="glyphicon glyphicon-remove" style="font-size: 1.3em; float: right; margin: 10px; cursor: pointer;" onclick="close_dash();"></span>

<div id="edit_campaign_container">
  <%= form_for @campaign, :remote => true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="container">
      <h4>Edit Campaign</h4>
      <%= f.label :name, "Campaign Name:" %>
      <%= f.text_field :name, placeholder: "Enter a campaign name...", maxlength: 75, :id => "campaign-name", required: true %>
      <%= f.label :content, "Campaign Caption:" %>
      <%= f.text_area :content, placeholder: "Enter a caption...", maxlength: 400, :id => "campaign-caption", required: true %>
      <div style="text-align: center;">
        <%= f.submit "Edit Campaign", class: "btn-submit", :id => "edit-campaign-btn" %>
      </div>
    </div>

  <% end %>
</div>