<%= form_for(@campaign) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div style="max-width: 500px;">
    <%= f.label :name, "Campaign Name:" %>
    <%= f.text_field :name, placeholder: "Enter a campaign name...", maxlength: 75 %>
    <%= f.label :content, "Campaign Caption:" %>
    <%= f.text_area :content, placeholder: "Enter a caption...", maxlength: 400 %>
  </div>
  
  <%= f.submit "Start Campaign", class: "btn-submit" %>
<% end %>