<% provide(:title, @campaign.name) %>

<div class="row dashboard">
    <div class="col col-md-3 col-sm-12">
      <%= render partial: "shared/action_button", locals: { text: "download campaign", glyphicon: "cloud-download", goto: download_campaign_page_path(:id => @campaign.id) } %>
    </div>
    <div class="col col-md-3 col-sm-12">
      <%= render partial: "shared/action_button", locals: { text: "share to social media", glyphicon: "share-alt", goto: share_campaign_path(:id => @campaign.id) } %>
    </div>
  <% if @campaign.user == current_user %>

    <div class="col col-md-3 col-sm-12">
      <div class="btn-large" id="add_post_button" style="cursor: pointer;">
        <div class="icon">
          <span class="glyphicon glyphicon-plus"></span>
        </div>
        <div class="text">
          add post
        </div>
      </div>
    </div>

    <div class="col col-md-3 col-sm-12">
      <div class="btn-large" id="edit_campaign_button" style="cursor: pointer;">
        <div class="icon">
          <span class="glyphicon glyphicon-pencil"></span>
        </div>
        <div class="text">
          edit campaign
        </div>
      </div>
    </div>

  <% end %>

</div>

<div id="dash-sub">

</div>

<div class="container">
  <div class="row base-layout">

    <div class="col-md-9 col-sm-12 left-panel">
      <h3><%= @campaign.name %>(<%= @campaign.microposts.count %>)</h3>
      <% @campaign.microposts.reverse.each do | micropost | %>
        <%= link_to micropost, style: "display: inline-block;" do %>
          <p class="category-title" ><%= micropost.category.titlecase.tr("_", " ") %></p>
          <img src="<%= micropost.picture.url %>" style="max-height: 50vh; max-width: 100%;" />
        <% end %>
      <% end %>
    </div>

    <div class="col-md-3 col-sm-12 right-panel" >
        <p>submitted by:</p>
        <%= render partial: "shared/user_info", locals: { user:  @campaign.user, thumbnail_width: 50 } %>
        <hr>
        <h4><strong>caption:</strong></h4>
        <p>"<%= sanitize @campaign.content.gsub("<WEBSITE>", current_user.website || "") %>" </p>
        <% if current_user.admin || @campaign.user == current_user %>
          <%= link_to "Delete this campaign", @campaign, method: :delete, "data-confirm": "Are you sure you want to delete this campaign?" %>
        <% end %>
    </div>

  </div>
</div>

<script>
  var edit_campaign_button = document.getElementById("edit_campaign_button");
  var add_post_button = document.getElementById("add_post_button");
  var dash_sub = document.getElementById("dash-sub");

  edit_campaign_button.onclick = function(){
    dash_sub.innerHTML = "<%= j render 'edit_campaign_form' %>";
  };

  add_post_button.onclick = function(){
    dash_sub.innerHTML = "<%= j render 'add_post_form' %>";
  };

</script>