<% provide(:title, @campaign.name) %>

<div class="row">
  <div class="col-md-3 col-sm-12 sidebar">
    <h2 class="campaign_label"><span class="glyphicon glyphicon-flag"></span> campaign: </h2>
    <div class="profile_user_display">
      <div>
        <img src="<%= @campaign.user.avatar %>" id="profile_pic" style="width: 50%; object-fit: cover; object-position: center; display: inline-block; vertical-align: top;" />
      </div>
      <div style="display: inline-block; vertical-align: top;">
        <h1><%= link_to @campaign.user.name, @campaign.user %></h1>
        <h4><%= @campaign.user.company %></h4>
        <%= render :partial => 'shared/accolades', :locals => {:user => @campaign.user} %>       
      </div>
    </div>

    <% if current_user %>
      <%= link_to download_campaign_page_path(:id => @campaign.id), :class => "side_button" do%>
        <div class="pop-button">
          <h3 class = "top_icons"><span class="glyphicon glyphicon-cloud-download"></span> Download Campaign</h3>
        </div>
      <% end %>
      <%= link_to share_campaign_path(:id => @campaign.id), :class => "side_button" do%>
        <div class="pop-button">
          <h3 class = "top_icons"><span class="glyphicon glyphicon-share-alt"></span> Share to Social Media</h3>
        </div>
      <% end %>
    <% else %>
    	<p><%= link_to 'Sign in', social_login_path %> to:<br>
          <span class="glyphicon glyphicon-cloud-download"></span> download this campaign<br>
          <span class="glyphicon glyphicon glyphicon-share-alt"></span> share to social media</p>
    <% end %>

    <% if @campaign.user == current_user %>

      <div class="accordion side_button">
        <h3 class="pop-button"><span class="glyphicon glyphicon-pencil"></span> Edit Campaign</h3>
      </div>
      <div class="sub-accordion" id="edit_campaign_container">
        <%= render 'edit_campaign_form' %>
      </div>
      <div class="accordion side_button">
        <h3 class="pop-button"><span class="glyphicon glyphicon-plus"></span> Add Post</h3>
      </div>
      <div class="sub-accordion"  id="add_post_container">
        <%= render 'add_post_form' %>
      </div>

    <% end %>

  </div>

  <div class="col-md-9 col-sm-12">
    <div class="campaign-text">
  		<h1 class="campaign-title" style="display: inline-block;"><strong><%= @campaign.name %></strong></h1>
  		<div class="timestamp">
  		  Campaign created <%= time_ago_in_words(@campaign.created_at) %> ago.
  		  <% if current_user %>
  		    <% if current_user?(@campaign.user) || current_user.admin? %>
  		      <%= link_to "delete campaign", @campaign, method: :delete, data: { confirm: "Delete this campaign?" } %>
  		    <% end %>
  		  <% end %>
  		</div>
  		<p><%= @campaign.content %></p>
  	</div>

	<%= render @campaign.microposts.reverse %>

  </div>

</div>

<script>
	var coverWidth = $("#coverPhoto").width();
  $("#coverPhoto").height(coverWidth * 0.35);

  var profileWidth = $("#profile_pic").width();
  $("#profile_pic").height(profileWidth);

  $( ".accordion" ).click(function() {
    $(this).next(".sub-accordion").toggle();
  });

</script>