<% provide(:title, @campaign.name) %>

<div class="row">
	<div class="col-md-4 col-sm-12">
		<div class="campaign-text">
			<h2><span class="glyphicon glyphicon-flag"></span> campaign: </h2>
			<p class="campaign-title"><strong><%= @campaign.name %></strong></p>
		</div>

		<div>
			<%= link_to download_assets_path(:id => @campaign.id), :class => 'pop-button download-button', data: { turbolinks: false }  do %>
	    		<span style="color: inherit;" class="glyphicon glyphicon-cloud-download"></span> download campaign assets
	    	<% end %>
    	</div>

    	<div style="display: block; margin-top: 20px; ">
			<div class="avatar avatar-thumbnail" style="background-image: url('<%= @campaign.user.avatar %>'); display: inline-block;" ></div>
			<div style="display: inline-block;">
				<h3 class="user" style="display: block; margin: 0px;"><%= link_to @campaign.user.name, @campaign.user %></h3>
				<%= render :partial => 'shared/accolades', :locals => {:user => @campaign.user} %>
			</div>
		</div>

		<div class="timestamp">
		  Campaign created <%= time_ago_in_words(@campaign.created_at) %> ago.
		  <% if current_user %>
		    <% if current_user?(@campaign.user) || current_user.admin? %>
		      <%= link_to "delete campaign", @campaign, method: :delete,
		                                       data: { confirm: "You sure?" } %>
		    <% end %>
		  <% end %>
		</div>

		<% if @campaign.user == current_user %>
			<%= render 'add_post_form' %>
		<% end %>

	</div>

	<div class="col-md-8 col-sm-12">
		<div class="microposts microposts-full" style="width: 100%;">
			<%= render @campaign.microposts.reverse %>
		</div>
	</div>

</div>
