<%= link_to product.url, :target => "_blank" do %>
	<div class="product">
		<% if product.picture.url %>
		  <div class="addProduct" style="background-image: url('<%= product.picture.url %>');"></div>
		<% else %>
		  <div class="addProduct" style="background-image: url('<%= ActionController::Base.helpers.asset_path("picture.svg")%>');"></div>
		<% end %>
	</div>
	<h6 style="text-align: center; margin-bottom: 30px;">
		<%=link_to({:controller => "users", :action => "add_product", :product_id => product.id, :user_id => current_user.id, :remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary btn-lg'},) do%>
			<% if @user == current_user %>
				<span class="glyphicon glyphicon-pencil"></span>
			<% end %>
		<% end %>
		<%= product.title %>	
	</h6>
<% end %>