<footer>
  <div class="docs_links">
    <p>&copy; 2019 Promo Posts</p>
    <div>
      <%= link_to "Privacy Policy", privacy_policy_path, :class => "footer-link" %>
      <%= link_to "Cookie Policy", cookie_policy_path, :class => "footer-link" %>
      <%= link_to "Terms of Use", terms_path, :class => "footer-link" %>
      <%#= link_to "Contact / Suggest Content", contact_path, :class => "footer-link" %>
    </div>
  </div>
  <div class="social_links">
  	<p>Follow Promo Posts</p>
  	<%= link_to "https://www.instagram.com/promoposts.net_/" do %>
  		<%= image_tag('instagram.svg') %>
  	<% end %>
  	<%= link_to "https://www.facebook.com/promoposts" do %>
  		<%= image_tag('facebook.svg') %>
  	<% end %>
  	<%= link_to "https://www.linkedin.com/company/promo-posts" do %>
  		<%= image_tag('linkedin.svg') %>
  	<% end %>
  </div>
</footer>