<footer class="footer">
    &copy; 2018 Sigmatic Studios
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>
<div style="margin-top: 10px;">
  <small>
    <small>
      <ul style="list-style-type: none;">
        <li><%= link_to "Privacy Policy", privacy_policy_path %></li>
        <li><%= link_to "Cookie Policy", cookie_policy_path %></li>
        <li><%= link_to "Terms of Use", terms_path %></li>
      </ul>
    </small>
  </small>
<small>
</div>