<header>
  <div id="logo" >
    <%= link_to root_path do %>
      <%= image_tag asset_path('logo.svg') %>
      <h3>promo posts <span>beta</span></h3>
    <% end %>
  </div>
  <nav>
    <% if current_user %>
      <!--<%= link_to "#", "data-toggle": "tooltip", "data-placement": "bottom", "title": "Post Schedule" do %><span class="glyphicon glyphicon-calendar"></span><% end %>-->
      <%= link_to current_user, "data-toggle": "tooltip", "data-placement": "bottom", "title": "Profile" do %><span class="glyphicon glyphicon-user"></span><% end %>
      <%= link_to edit_user_path(current_user), "data-toggle": "tooltip", "data-placement": "bottom", "title": "Settings" do %><span class="glyphicon glyphicon-cog"></span><% end %>
      <%= link_to logout_path, method: :delete, "data-toggle": "tooltip", "data-placement": "bottom", "title": "Log Out" do %><span class="glyphicon glyphicon-log-out"></span><% end %>
    <% else %>
      <%= link_to new_user_path, style: "grid-column: span 2" do %>Sign Up<% end %>
      <%= link_to login_path, style: "grid-column: span 2" do %>Log In<% end %>
    <% end %>
  </nav>

</header>

<script type="text/javascript">
  function set_body_padding(){
    let header_height = document.querySelector('header').offsetHeight;
    document.querySelector('body').style.paddingTop = header_height + "px";
  }

  set_body_padding();

  window.addEventListener('resize', set_body_padding);
</script>