<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <% if controller_name == 'microposts' %>
    <% end %>
    <meta property="fb:app_id" content="<%= ENV['FACEBOOK_KEY'] %>" />
    <%= favicon_link_tag asset_path('favicon.png') %>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container" >
      <div id="flash_wrapper">
        <%= render 'shared/flash' %>
      </div>
      <% if logged_in? %>
        <%= render 'shared/quickstart_wizard' %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/1.1.0/trianglify.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  
</html>
