<!DOCTYPE html>
<html>
  <head>  
    <title><%= request.domain.match(/(promodigi.net|promodigi.test)/) ? promodigi_title(yield(:title)) : full_title(yield(:title)) %></title>
    <% if request.domain.match(/(promodigi.net|promodigi.test)/) && @landing_page %>
      <% og_image = @landing_page.campaign.microposts.where(category: "facebook_linked_post").first.picture.url rescue nil %>
      <% og_image = @landing_page.campaign.microposts.where(category: "facebook_post").first.picture.url unless og_image %>
      <meta property="fb:app_id" content="<%= ENV['FACEBOOK_KEY'] %>" />
      <meta property='og:title' content='<%= "#{@user.company ? @user.company : 'PromoDigi'} - #{@landing_page ? @landing_page.title : 'Promotional Products' } " %>' />
      <meta property='og:type' content='<%= @landing_page ? "website" : "article:#{@landing_page.created_at.to_date}" %>' />
      <meta property='og:url' content='https://www.promodigi.net' />
      <meta property='og:image' content='<%= og_image %>' />
      <meta property='og:description' content='<%= @user.company && @landing_page ? "#{@user.company} Promotional Products. #{@landing_page.title}. #{@landing_page.headline}." : "Custom Promotional Products For Your Brand" %>' />
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap" rel="stylesheet" />
    <% if Rails.env.production? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123139806-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-123139806-2');
      </script>
    <% end %>
  </head>

  <body>
    <%= render 'layouts/header' unless request.domain.match(/(promodigi.net|promodigi.test)/) %>
    
    <div id="flash_wrapper">
      <%= render 'shared/flash' %>
    </div>
    <%= yield %>
    <%= render 'layouts/footer' unless request.domain.match(/(promodigi.net|promodigi.test)/) %>
    <%= debug(params) if Rails.env.development? %>
    <script>
      //infinite scroll
      $(window).on( 'scroll', function(){
       more_posts_url = $('.pagination .next_page a').attr('href');
       if(more_posts_url && $(window).scrollTop() > $(document).height() - $(window).height() - 60){
          $('.pagination').html('<img src="<%= asset_path('loading.gif') %>" alt="Loading..." title="Loading..." width="50px" style="display: inline-block;"/><h3 style="display: inline-block; margin-left: 20px;">loading</h3>');
          $.getScript(more_posts_url);
        }
      });

      show_tooltips();
    </script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=1190068&fmt=gif" />
    </noscript>
  </body>
  
</html>
