<h4>Your connected social networks:</h4>
<p>Tick the checkbox to enable autoshare</p>

<%= form_for @account, url: accounts_edit_path(:user_id => current_user.id, :provider => "facebook"), html: {method: :post} do |f| %>

  <!--display Facebook pages-->
  <p>facebook: </p>

  <!--if logged_in and facebook accounts exist in user's name-->
  <% if logged_in? && current_user.fb_uid%>
    <% puts "FB ACCOUNTS: #{@fb_accounts}" %>
    <% accounts = @fb_accounts %>
    <% accounts.each do |page| %>
      <div class="fb-settings-wrapper">
        <% if page['autoshare'] %>
          <!-- if autoshare is already turned on, unsubscribe -->
          <input name="unsubscribe_hidden[]" type="hidden" value="<%= page['account_id'] %>">
          <input name="unsubscribe[]" type="checkbox" value="<%= page['account_id'] %>" checked="checked" id="account_unsubscribe">

        <% else %>
          <!-- else, subscribe-->
          <%= f.check_box :subscribe, { :name => "subscribe[]" , :checked => false }, page['account_id'], "" %>
        <% end %>

        <div class="img-holder">
          <img class="thumbnail-page" src="https://graph.facebook.com/<%= page['account_id'] %>/picture"/>
        </div>
        <h6 class=""><%= page['name'] %></h6>
      </div>

    <% end %>

  <% else %>
    <%= link_to("/auth/facebook?intent=connect") do%>
      <h6> Connect your Facebook Account </h6>
    <% end %>
  <% end %>




  <!--display Linkedin pages-->
  <p>linkedin: </p>

  <!--if logged_in and linkedin accounts exist in user's name-->
  <% if logged_in? && current_user.linkedin_uid%>
    <% puts "LINKEDIN ACCOUNTS: #{@linkedin_accounts}" %>
    <% accounts = @linkedin_accounts %>
    <% accounts.each do |page| %>
      <div class="fb-settings-wrapper">
        <!--
        <% if page['autoshare'] %>
          <input name="unsubscribe_hidden[]" type="hidden" value="<%= page['account_id'] %>">
          <input name="unsubscribe[]" type="checkbox" value="<%= page['account_id'] %>" checked="checked" id="account_unsubscribe">

        <% else %>
          <%= f.check_box :subscribe, { :name => "subscribe[]" , :checked => false }, page['account_id'], "" %>
        <% end %>
        -->

        <!--
        <div class="img-holder">
          <img class="thumbnail-page" src="https://graph.facebook.com/<%= page['account_id'] %>/picture"/>
        </div>
      -->
        <h6 class=""><%= page['name'] %></h6>
      </div>

    <% end %>

  <% else %>
    <%= link_to("/auth/linkedin?intent=connect") do%>
      <h6> Connect your Linkedin Account </h6>
    <% end %>
  <% end %>




  <!--display Buffer pages-->
  <p>buffer: </p>

  <!--if logged_in and linkedin accounts exist in user's name-->
  <% if logged_in? && current_user.buffer_uid%>
    <% puts "BUFFER ACCOUNTS: #{@buffer_accounts}" %>
    <% accounts = @buffer_accounts %>
    <% accounts.each do |page| %>
      <div class="fb-settings-wrapper">
        <!--
        <% if page['autoshare'] %>
          <input name="unsubscribe_hidden[]" type="hidden" value="<%= page['account_id'] %>">
          <input name="unsubscribe[]" type="checkbox" value="<%= page['account_id'] %>" checked="checked" id="account_unsubscribe">

        <% else %>
          <%= f.check_box :subscribe, { :name => "subscribe[]" , :checked => false }, page['account_id'], "" %>
        <% end %>
        -->

        <!--
        <div class="img-holder">
          <img class="thumbnail-page" src="https://graph.facebook.com/<%= page['account_id'] %>/picture"/>
        </div>
      -->
        <h6 class=""><%= page['name'] %></h6>
      </div>

    <% end %>

  <% else %>
    <%= link_to("/auth/buffer?intent=connect") do%>
      <h6> Connect your Buffer Account </h6>
    <% end %>
  <% end %>

  <%= f.submit "Update Autoshare Settings", class: "btn btn-primary" %>

<% end %>

