<h1>your connected social networks:</h1>

<%= form_for @account, url: accounts_edit_path(:user_id => current_user.id, :provider => "facebook"), html: {method: :post} do |f| %>

<p>&nbsp;</p>
  <!--display Facebook pages-->
  <h4 class="facebook-login social-login"><img src='<%= ActionController::Base.helpers.asset_path('facebook.svg')%>'/> Your Facebook accounts: </h4>
  <div class="social-accounts-wrap">

    <!--if logged_in and facebook accounts exist in user's name-->
    <% if logged_in? && @fb_accounts.count > 0 %>
      <p>Tick the checkbox to enable autoshare. <%= link_to "What is autoshare?", what_is_autoshare_path %><br><span style="font-size: 0.8em;">Autoshares via Facebook will show up on your page, but will not be shareable by other Promo Posts members to their own platforms.</span></p>
      <% accounts = @fb_accounts %>
      <% accounts.each do |page| %>
        <div class="fb-settings-wrapper">
          <% if page['autoshare'] %>
            <!-- if autoshare is already turned on, unsubscribe -->
            <input name="unsubscribe_hidden[]" type="hidden" value="<%= page['account_id'] %>">
            <input name="unsubscribe[]" type="checkbox" value="<%= page['account_id'] %>" checked="checked" id="account_unsubscribe">

          <% else %>
            <!-- else, subscribe-->
            <%= f.check_box :subscribe, { :name => "subscribe[]" , :checked => false }, page['account_id'], "" %>
          <% end %>

          <div class="img-holder">
            <img class="thumbnail-page" src="<%= page.picture %>"/>
          </div>
          <h5 class="page-name"><%= page['name'] %></h5>
        </div>

      <% end %>

      <p>&nbsp;</p>

      <%= f.submit "Update Autoshare Settings", class: "btn btn-primary" %>

      <%= link_to accounts_disconnect_path(:provider => 'facebook'), :class => "connect_link" do %>
        <h5> Disconnect your Facebook Account </h5>
      <% end %>

    <% else %>
      <% if current_user.fb_uid %>
        <h6>No sharable pages available.</h6>
      <% else %>
        <%= render(:partial => 'shared/connect_account', :locals => { :provider => 'facebook'}) %>
      <% end %>
    <% end %>
  </div>




  <!--display Linkedin pages-->
  <h4 class="linkedin-login social-login"><img src='<%= ActionController::Base.helpers.asset_path('linkedin.svg')%>'/> Your LinkedIn accounts: </h4>
  <div class="social-accounts-wrap">

    <!--if logged_in and linkedin accounts exist in user's name-->
    <% if logged_in? && @linkedin_accounts.count > 0 %>
      <% accounts = @linkedin_accounts %>
      <% accounts.each do |page| %>
        <div class="fb-settings-wrapper">
          <!--
          <% if page['autoshare'] %>
            <input name="unsubscribe_hidden[]" type="hidden" value="<%= page['account_id'] %>">
            <input name="unsubscribe[]" type="checkbox" value="<%= page['account_id'] %>" checked="checked" id="account_unsubscribe">

          <% else %>
            <%= f.check_box :subscribe, { :name => "subscribe[]" , :checked => false }, page['account_id'], "" %>
          <% end %>
          -->

          <div class="img-holder">
            <img class="thumbnail-page" src="<%= page.picture %>"/>
          </div>
          <h5 class="page-name"><%= page['name'] %></h5>
        </div>

      <% end %>

      <%= link_to accounts_disconnect_path(:provider => 'linkedin'), :class => "connect_link" do %>
        <h5> Disconnect your LinkedIn Account </h5>
      <% end %>

    <% else %>
      <% if current_user.linkedin_uid %>
        <h6>No sharable pages available.</h6>
      <% else %>
          <%= link_to sessions_oauth2_path(:provider => 'linkedin'), class: 'connect_link' do%>
            <span class="glyphicon glyphicon-transfer" style="display: inline-block;"></span><h5 style="display: inline-block; margin-left: 5px;">Connect your LinkedIn account </h5>
          <% end %>
      <% end %>

    <% end %>

  </div>




  <!--display Buffer pages-->
  <h4 class="buffer-login social-login"><img src='<%= ActionController::Base.helpers.asset_path('buffer.svg')%>'/> Your Buffer accounts: </h4>
  <div class="social-accounts-wrap">

    <!--if logged_in and buffer accounts exist in user's name-->
    <% if logged_in? && @buffer_accounts.count > 0 %>
      <% accounts = @buffer_accounts %>
      <% accounts.each do |page| %>
        <div class="fb-settings-wrapper">
          <!--
          <% if page['autoshare'] %>
            <input name="unsubscribe_hidden[]" type="hidden" value="<%= page['account_id'] %>">
            <input name="unsubscribe[]" type="checkbox" value="<%= page['account_id'] %>" checked="checked" id="account_unsubscribe">

          <% else %>
            <%= f.check_box :subscribe, { :name => "subscribe[]" , :checked => false }, page['account_id'], "" %>
          <% end %>
          -->

          <div class="img-holder">
            <img class="thumbnail-page" src="<%= page.picture %>"/>
          </div>
          <h5 class="page-name"><%= page['name'] %></h5>
        </div>

      <% end %>

      <%= link_to accounts_disconnect_path(:provider => 'buffer'), :class => "connect_link" do %>
        <h5> Disconnect your Buffer Account </h5>
      <% end %>

    <% else %>
      <% if current_user.buffer_uid %>
        <h6>No sharable pages available.</h6>
      <% else %>
        <%= render(:partial => 'shared/connect_account', :locals => { :provider => 'buffer'}) %>
      <% end %>
    <% end %>

  </div>

  

<% end %>

